In [4]:
import numpy as np
import pandas as pd
import operator
import pickle

In [2]:
data_dir = "../Data/"
patients = pd.read_csv(data_dir+"PATIENTS.csv.gz", compression="gzip")

In [3]:
narcotic_drugs = ['oxymorphone', 'oxycodone', 'morphine', 'meperidine', 
                  'hydromorphone', 'hydrocodone', 'fentanyl', 'codeine', 'buprenorphine', 'levorphanol', 'methadone']
anti_narcotic_drugs = ['methadone', 'naloxone', 'nalorphine']
both_drugs = narcotic_drugs + anti_narcotic_drugs

### Prescriptions

In [4]:
with open('../Data/Opioids/Prescriptions/prescriptions_with_narcotic_drugs.pickle', 'rb') as pickler:
    prescriptions_with_narcotic_drugs = pickle.load(pickler)
with open('../Data/Opioids/Prescriptions/prescriptions_with_anti_narcotic_drugs.pickle', 'rb') as pickler:
    prescriptions_with_anti_narcotic_drugs = pickle.load(pickler)
with open('../Data/Opioids/Prescriptions/prescriptions_with_mixed_drugs.pickle', 'rb') as pickler:
    prescriptions_with_mixed_drugs = pickle.load(pickler)
with open('../Data/Opioids/Prescriptions/prescriptions_with_both_drugs.pickle', 'rb') as pickler:
    prescriptions_with_both_drugs = pickle.load(pickler)

### Subjects

In [5]:
with open('../Data/Opioids/Subjects/narcotic_subject_df.pickle', 'rb') as pickler:
    narcotic_subject_df = pickle.load(pickler)
with open('../Data/Opioids/Subjects/anti_narcotic_subject_df.pickle', 'rb') as pickler:
    anti_narcotic_subject_df = pickle.load(pickler)

In [2]:
with open('../Data/Opioids/Subjects/subjects_age_df.pickle', 'rb') as pickler:
    subjects_age_df = pickle.load(pickler)

In [6]:
total_subjects = set(narcotic_subject_df["SUBJECT_ID"]).union(set(anti_narcotic_subject_df["SUBJECT_ID"]))
len(total_subjects)

29991

In [7]:
subjects_list = list(total_subjects)
len(subjects_list)

29991

In [8]:
subjects_df = patients[patients["SUBJECT_ID"].isin(total_subjects)]
subjects_df.head()

,ROW_ID,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
0,234,249,F,2075-03-13 00:00:00,NaN,NaN,NaN,0
1,235,250,F,2164-12-27 00:00:00,2188-11-22 00:00:00,2188-11-22 00:00:00,NaN,1
3,237,252,M,2078-03-06 00:00:00,NaN,NaN,NaN,0
5,239,255,M,2109-08-05 00:00:00,NaN,NaN,NaN,0
6,240,256,M,2086-07-31 00:00:00,NaN,NaN,NaN,0

### Diagnoses

In [9]:
with open('../Data/Opioids/Diagnoses/diagnoses_with_effects_df.pickle', 'rb') as pickler:
    diagnoses_with_effects_df = pickle.load(pickler)
with open('../Data/Opioids/Diagnoses/subjects_with_effects.pickle', 'rb') as pickler:
    subjects_with_effects = pickle.load(pickler)

In [10]:
narcotic_subject_df.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,STARTDATE,ENDDATE,DRUG_TYPE,DRUG,DRUG_NAME_POE,DRUG_NAME_GENERIC,FORMULARY_DRUG_CD,GSN,NDC,PROD_STRENGTH,DOSE_VAL_RX,DOSE_UNIT_RX,FORM_VAL_DISP,FORM_UNIT_DISP,ROUTE,NO_OF_DAYS_PRESCRIBED
42,2122405.0,13.0,143045.0,263738.0,2167-01-09 00:00:00,2167-01-12 00:00:00,MAIN,oxycodone-acetaminophen,Oxycodone-Acetaminophen,Oxycodone-Acetaminophen,PERC,004222,54465025.0,5mg/325mg Tab,1-2,TAB,1-2,TAB,PO,4.0
45,2122400.0,13.0,143045.0,263738.0,2167-01-09 00:00:00,2167-01-12 00:00:00,MAIN,morphine sulfate,Morphine Sulfate,Morphine Sulfate,MORP2I,004070,74176201.0,2mg Syringe,0.5-4.0,mg,0.25-2,SYR,IV,4.0
46,2122399.0,13.0,143045.0,263738.0,2167-01-09 00:00:00,2167-01-12 00:00:00,MAIN,meperidine,Meperidine,Meperidine,MEPE50I,004051,54354563.0,50 mg Syringe,12.5,mg,0.25,ml,IV,4.0
127,1213835.0,4.0,185777.0,294638.0,2191-03-16 00:00:00,2191-03-23 00:00:00,MAIN,guaifenesin-codeine phosphate,Guaifenesin-Codeine Phosphate,Guaifenesin-Codeine Phosphate,GGAC5L,045667,31867412.0,5ML UDCUP,5-10,ml,1-2,UDCUP,PO,8.0
173,2214000.0,6.0,107064.0,NaN,2175-05-30 00:00:00,2175-06-01 00:00:00,MAIN,morphine sulfate,Morphine Sulfate,Morphine PCA,MORP50PCA,004067,338268975.0,50mg/50mL Syringe,1,mg,0.02,SYR,IVPCA,3.0

### Total Prescriptions - Narcotic/Anti-Narcotic - For Each Subject

In [11]:
prescriptions_with_narcotic_drugs_grouped = prescriptions_with_narcotic_drugs.groupby('SUBJECT_ID').apply(
    lambda drug: drug[["DRUG"]].apply(lambda y: y.str.contains("|".join(narcotic_drugs)).sum()))
prescriptions_with_narcotic_drugs_grouped.head()

            DRUG
SUBJECT_ID
4              1
6              4
11             6
12             3
13             4

In [12]:
prescriptions_with_anti_narcotic_drugs_grouped = prescriptions_with_anti_narcotic_drugs.groupby('SUBJECT_ID').apply(
    lambda drug: drug[["DRUG"]].apply(lambda y: y.str.contains("|".join(anti_narcotic_drugs)).sum()))
prescriptions_with_anti_narcotic_drugs_grouped.head()

            DRUG
SUBJECT_ID
36             1
64             1
78             6
94             2
109            4

In [13]:
narcotic_temp_df = prescriptions_with_narcotic_drugs_grouped["DRUG"]
narcotic_temp_df.to_csv("prescriptions_with_narcotic_drugs_grouped.csv")

In [14]:
anti_narcotic_temp_df = prescriptions_with_anti_narcotic_drugs_grouped["DRUG"]
anti_narcotic_temp_df.to_csv("prescriptions_with_anti_narcotic_drugs_grouped.csv")

In [15]:
prescriptions_with_narcotic_drugs_grouped = pd.read_csv("prescriptions_with_narcotic_drugs_grouped.csv", header=None)
prescriptions_with_narcotic_drugs_grouped.columns=["SUBJECT_ID", "TOTAL_NARCOTIC_PRESCRIPTONS"]
prescriptions_with_narcotic_drugs_grouped.head()

   SUBJECT_ID  TOTAL_NARCOTIC_PRESCRIPTONS
0           4                            1
1           6                            4
2          11                            6
3          12                            3
4          13                            4

In [17]:
prescriptions_with_anti_narcotic_drugs_grouped = pd.read_csv("prescriptions_with_anti_narcotic_drugs_grouped.csv", header=None)
prescriptions_with_anti_narcotic_drugs_grouped.columns=["SUBJECT_ID", "TOTAL_ANTI_NARCOTIC_PRESCRIPTONS"]
prescriptions_with_anti_narcotic_drugs_grouped.head()

   SUBJECT_ID  TOTAL_ANTI_NARCOTIC_PRESCRIPTONS
0          36                                 1
1          64                                 1
2          78                                 6
3          94                                 2
4         109                                 4

In [60]:
subject_details = pd.DataFrame(columns=["SUBJECT_ID", "GENDER", "AGE", "ICU_STAY", "TOTAL_NARCOTIC_PRESCRIPTONS", "TOTAL_ANTI_NARCOTIC_PRESCRIPTONS", "OXYMORPHONE", "OXYCODONE", "MORPHINE", "MEPERIDINE", 
                  "HYDROMORPHONE", "HYDROCONE", "FENTANYL", "CODEINE", "BUPRENORPHINE", "LEVORPHANOL", "METHADONE", "NALOXONE", "NALORPHINE", "NARCOTIC", "ANTI-NARCOTIC", "EXPIRE_FLAG"])
subject_details

Empty DataFrame
Columns: [SUBJECT_ID, GENDER, AGE, ICU_STAY, TOTAL_NARCOTIC_PRESCRIPTONS, TOTAL_ANTI_NARCOTIC_PRESCRIPTONS, OXYMORPHONE, OXYCODONE, MORPHINE, MEPERIDINE, HYDROMORPHONE, HYDROCONE, FENTANYL, CODEINE, BUPRENORPHINE, LEVORPHANOL, METHADONE, NALOXONE, NALORPHINE, NARCOTIC, ANTI-NARCOTIC, EXPIRE_FLAG]
Index: []

[0 rows x 22 columns]

In [61]:
subject_details = subjects_df[["SUBJECT_ID", "GENDER", "EXPIRE_FLAG"]].copy()
print(len(subject_details))
subject_details.head()

29991

   SUBJECT_ID GENDER  EXPIRE_FLAG
0         249      F            0
1         250      F            1
3         252      M            0
5         255      M            0
6         256      M            0

In [62]:
subject_details = pd.merge(subject_details, prescriptions_with_narcotic_drugs_grouped, on="SUBJECT_ID", how='left')
subject_details = pd.merge(subject_details, prescriptions_with_anti_narcotic_drugs_grouped, on="SUBJECT_ID", how='left')
subject_details.head()

,SUBJECT_ID,GENDER,EXPIRE_FLAG,TOTAL_NARCOTIC_PRESCRIPTONS,TOTAL_ANTI_NARCOTIC_PRESCRIPTONS
0,249,F,0,8.0,NaN
1,250,F,1,6.0,NaN
2,252,M,0,4.0,NaN
3,255,M,0,2.0,NaN
4,256,M,0,22.0,NaN

In [63]:
subject_details.fillna(0, inplace=True)
subject_details.isnull().sum()
subject_details.head()

,SUBJECT_ID,GENDER,EXPIRE_FLAG,TOTAL_NARCOTIC_PRESCRIPTONS,TOTAL_ANTI_NARCOTIC_PRESCRIPTONS
0,249,F,0,8.0,0.0
1,250,F,1,6.0,0.0
2,252,M,0,4.0,0.0
3,255,M,0,2.0,0.0
4,256,M,0,22.0,0.0

In [64]:
subject_details["GENDER"] = subject_details["GENDER"].map({'F': 0, 'M': 1})
subject_details.head()

,SUBJECT_ID,GENDER,EXPIRE_FLAG,TOTAL_NARCOTIC_PRESCRIPTONS,TOTAL_ANTI_NARCOTIC_PRESCRIPTONS
0,249,0,0,8.0,0.0
1,250,0,1,6.0,0.0
2,252,1,0,4.0,0.0
3,255,1,0,2.0,0.0
4,256,1,0,22.0,0.0

In [65]:
subject_details["NARCOTIC"] = np.where(subject_details["TOTAL_NARCOTIC_PRESCRIPTONS"] > 0, 1, 0)
subject_details['ANTI-NARCOTIC'] = np.where(subject_details["TOTAL_ANTI_NARCOTIC_PRESCRIPTONS"] > 0, 1, 0)
subject_details.head()

,SUBJECT_ID,GENDER,EXPIRE_FLAG,TOTAL_NARCOTIC_PRESCRIPTONS,TOTAL_ANTI_NARCOTIC_PRESCRIPTONS,NARCOTIC,ANTI-NARCOTIC
0,249,0,0,8.0,0.0,1,0
1,250,0,1,6.0,0.0,1,0
2,252,1,0,4.0,0.0,1,0
3,255,1,0,2.0,0.0,1,0
4,256,1,0,22.0,0.0,1,0

### ICU STAY ID

In [25]:
icu_temp_df = prescriptions_with_both_drugs.groupby("SUBJECT_ID").apply(
    lambda prescription: prescription[["SUBJECT_ID", "ICUSTAY_ID"]])
icu_temp_df.head()

     SUBJECT_ID  ICUSTAY_ID
42           13    263738.0
45           13    263738.0
46           13    263738.0
127           4    294638.0
173           6         NaN

In [26]:
subject_icu_dict = dict()
for subject in total_subjects:
    subject_icu_dict[subject] = set(icu_temp_df[icu_temp_df["SUBJECT_ID"] == subject]["ICUSTAY_ID"])
subject_icu_dict

{65537.0: {234193.0},
 4.0: {294638.0},
 65541.0: {269604.0},
 6.0: {nan, nan, 228232.0, nan},
 65544.0: {293457.0},
 65547.0: {nan},
 12.0: {nan, 232669.0},
 13.0: {263738.0},
 17.0: {nan, nan, nan, nan, nan, nan, 257980.0, 277042.0},
 65554.0: {nan},
 65555.0: {213945.0},
 20.0: {nan, nan, 264490.0, nan, nan},
 21.0: {nan, 216859.0, 217847.0},
 65558.0: {nan, nan, nan, nan, nan, 271141.0, nan, nan, 214877.0, 283002.0},
 23.0: {227807.0},
 24.0: {nan},
 26.0: {244882.0},
 28.0: {225559.0},
 65565.0: {nan, nan, nan, nan, nan, nan, nan, 276116.0},
 31.0: {254478.0},
 65569.0: {nan, nan, nan, nan, 228839.0},
 34.0: {290505.0},
 35.0: {282039.0},
 36.0: {nan,
  nan,
  nan,
  241249.0,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  211200.0,
  280987.0},
 37.0: {213503.0},
 38.0: {248910.0},
 43697.0: {229941.0},
 41.0: {237024.0, nan, 261027.0, nan, nan},
 42.0: {210828.0},
 43.0: {nan, nan, 225852.0},
 44.0: {nan, 291554.0},
 65582.0: {nan, 231719.0, 279995.0, 297063.0},
 49.0: {249195.0},
 52.0: {nan, 261857.0, nan, nan, nan, nan, nan, nan, nan},
 65589.0: {nan, nan, 235298.0, nan, nan, nan, nan, nan, nan, nan},
 55.0: {262723.0},
 56.0: {nan, nan, 275642.0},
 65594.0: {nan, nan, nan, nan, nan, 289805.0, 295773.0},
 61.0: {nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  252348.0,
  nan},
 64.0: {nan, nan, nan, nan, nan, nan, nan, nan, 232593.0},
 65.0: {244776.0, nan, nan},
 11.0: {nan, 229441.0, nan, nan, nan, nan},
 65604.0: {nan, nan, nan, nan, nan, 287654.0},
 72.0: {239612.0},
 65609.0: {269502.0},
 75.0: {281607.0},
 65613.0: {243440.0},
 78.0: {233150.0},
 79.0: {290076.0},
 80.0: {nan, 256068.0},
 81.0: {222874.0},
 85.0: {nan, nan, nan, nan, nan, nan, nan, 209562.0, 291697.0},
 86.0: {206222.0},
 65623.0: {nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  263969.0,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  235505.0},
 65627.0: {263061.0},
 93.0: {242398.0},
 94.0: {213450.0},
 95.0: {216431.0},
 96.0: {nan, nan, 211943.0},
 97.0: {nan, 288376.0},
 65634.0: {nan, nan, nan, nan, nan, nan, nan, nan, 236021.0},
 103.0: {nan, 212246.0, 299890.0},
 106.0: {252051.0},
 107.0: {nan, nan, 264253.0},
 109.0: {nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  214027.0,
  nan,
  nan,
  nan,
  nan,
  219154.0,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  261180.0,
  284204.0,
  290868.0,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  236124.0,
  257134.0,
  274518.0,
  286860.0,
  298630.0,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  253139.0,
  266497.0,
  299251.0,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  217934.0,
  243532.0,
  257358.0,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  221610.0,
  222630.0,
  232807.0,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  237552.0,
  243688.0,
  249219.0,
  nan,
  nan,
  nan,
  nan,
  254406.0,
  256504.0,
  262652.0,
  291270.0},
 65646.0: {256696.0},
 111.0: {249202.0, 254245.0},
 112.0: {nan, 251972.0},
 113.0: {224661.0},
 65650.0: {nan, 288116.0},
 115.0: {nan, nan, nan, nan, nan, nan, nan, 232514.0},
 65652.0: {298013.0},
 117.0: {211700.0, 217966.0},
 65654.0: {nan, nan, nan, nan, nan, nan, 279593.0},
 65656.0: {205059.0},
 65556.0: {nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  205747.0},
 123.0: {227264.0},
 124.0: {256064.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 225073.0},
 125.0: {nan, 268261.0},
 32789.0: {213725.0, nan, 246909.0, 249640.0, nan},
 65666.0: {nan},
 48533.0: {210463.0},
 133.0: {223465.0},
 134.0: {nan, nan, nan, 249359.0},
 135.0: {nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  290462.0,
  nan},
 136.0: {nan, nan},
 137.0: {272335.0},
 138.0: {nan, nan, nan, nan, nan, nan, 254974.0, 275067.0, 294958.0},
 65675.0: {nan, 252303.0},
 140.0: {294530.0},
 141.0: {234668.0},
 142.0: {nan, nan, nan, 269111.0},
 143.0: {nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 293406.0},
 144.0: {269520.0, nan, nan, nan},
 65560.0: {205950.0},
 65682.0: {294316.0},
 147.0: {nan, 252947.0},
 150.0: {nan, nan, nan, nan, nan, 201239.0},
 151.0: {263211.0},
 152.0: {279643.0},
 65689.0: {nan},
 154.0: {201272.0},
 155.0: {nan, 295168.0},
 156.0: {259092.0, 260696.0},
 157.0: {nan, nan, 235058.0, 264885.0},
 160.0: {257626.0},
 161.0: {nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan},
 164.0: {218740.0},
 165.0: {247247.0},
 166.0: {271863.0},
 65703.0: {nan, 240705.0, nan, nan, nan, 233814.0, 275549.0},
 169.0: {nan, 262856.0},
 170.0: {283077.0},
 171.0: {274684.0},
 172.0: {nan, 235343.0},
 21874.0: {nan, nan, nan, nan, nan, 292799.0},
 65710.0: {nan, nan, nan, nan},
 65711.0: {299785.0},
 176.0: {nan},
 177.0: {nan, nan, nan, 207706.0, 231756.0, 255303.0, 288571.0},
 178.0: {297704.0, nan, nan, nan, nan},
 179.0: {256090.0},
 182.0: {nan, nan, 279109.0, nan, nan},
 65719.0: {nan, 284268.0},
 184.0: {236049.0},
 188.0: {nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  278679.0,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  263996.0,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  246866.0,
  nan,
  255726.0,
  284015.0,
  292343.0},
 189.0: {237693.0},
 191.0: {nan, 280149.0, 285720.0, nan},
 65728.0: {nan, 287410.0},
 98336.0: {nan, 233253.0, 268081.0},
 195.0: {nan, nan, nan, nan, nan, 291941.0, nan, 266038.0},
 197.0: {nan, 275674.0},
 198.0: {nan, 251887.0},
 199.0: {235675.0},
 200.0: {nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 249462.0},
 65737.0: {nan, nan, nan, nan},
 202.0: {228132.0},
 203.0: {244420.0, 249689.0},
 65570.0: {nan, 211702.0, 234598.0},
 65743.0: {nan, nan},
 208.0: {279205.0},
 209.0: {206719.0},
 210.0: {nan, 269125.0},
 211.0: {248590.0, 270493.0},
 213.0: {253210.0},
 214.0: {nan, nan, 200066.0, 255525.0, nan},
 217.0: {226300.0},
 221.0: {247500.0},
 222.0: {nan, nan, nan, nan, nan, nan, 232363.0, 256144.0, 290416.0},
 223.0: {231395.0, 255617.0},
 224.0: {255378.0},
 225.0: {224803.0},
 226.0: {nan, nan, 250583.0},
 228.0: {nan, nan, 235332.0, nan},
 231.0: {nan, nan, nan, nan, nan, nan, 242685.0},
 234.0: {nan, nan, nan, 233735.0},
 235.0: {nan},
 236.0: {227008.0, nan, nan, nan, nan, 205826.0, 259718.0, nan, nan, nan},
 65773.0: {nan, nan, 292838.0},
 238.0: {208413.0},
 239.0: {nan, 231723.0},
 240.0: {202248.0, nan},
 241.0: {259962.0},
 65779.0: {nan, nan, nan, 220032.0, nan, nan, 278702.0},
 245.0: {nan, 216674.0},
 246.0: {nan, 287265.0, nan},
 65577.0: {293763.0},
 248.0: {nan, 219979.0},
 249.0: {nan, nan, nan, nan, 215044.0, 263882.0, 282599.0},
 250.0: {205951.0},
 65787.0: {nan, nan},
 252.0: {212805.0, 221239.0},
 255.0: {nan, nan},
 256.0: {nan, nan, 254418.0, 263221.0, 273229.0, 296823.0},
 65793.0: {nan, nan, nan, nan, nan, 283275.0},
 65579.0: {nan, 234498.0},
 262.0: {243312.0},
 263.0: {nan, nan, 216500.0},
 265.0: {299976.0},
 266.0: {nan},
 267.0: {223660.0},
 268.0: {nan, nan, 280836.0},
 269.0: {nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  206613.0,
  nan,
  nan},
 270.0: {nan, 220345.0},
 271.0: {nan, nan, 249196.0},
 275.0: {nan, 219649.0, nan, nan},
 276.0: {206327.0},
 65815.0: {265074.0},
 281.0: {257572.0},
 282.0: {nan, nan, 293262.0, nan},
 285.0: {238023.0},
 286.0: {260225.0},
 287.0: {nan, nan, 245343.0, 270957.0},
 65824.0: {277723.0, 292409.0},
 65825.0: {239955.0},
 290.0: {nan, nan, 278519.0},
 65827.0: {288496.0},
 293.0: {263651.0},
 294.0: {nan, nan, 222074.0},
 295.0: {nan},
 65833.0: {221149.0, 274838.0},
 298.0: {nan, nan, 225523.0},
 65835.0: {241309.0},
 65837.0: {nan, 251654.0, 267999.0},
 65838.0: {nan, nan, nan, 295742.0, nan},
 303.0: {nan, nan, nan, nan, nan, 261797.0},
 305.0: {nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  224571.0,
  232248.0,
  232719.0,
  297009.0,
  nan,
  nan},
 306.0: {nan, 291141.0},
 65843.0: {285128.0},
 309.0: {211035.0},
 310.0: {269885.0},
 313.0: {261824.0},
 315.0: {266988.0},
 65852.0: {207708.0},
 65854.0: {nan, 238884.0},
 319.0: {281554.0},
 321.0: {nan, nan, nan, nan, nan},
 322.0: {nan, nan, 217128.0},
 323.0: {206073.0},
 324.0: {285067.0},
 325.0: {nan, nan, 221000.0, nan, nan},
 326.0: {nan, nan, 281585.0, nan},
 327.0: {nan, nan, nan, nan, nan, 272596.0},
 328.0: {294224.0},
 329.0: {217001.0},
 330.0: {nan, nan},
 333.0: {243350.0},
 335.0: {nan, nan, nan, nan, nan},
 338.0: {nan, nan, 217990.0},
 339.0: {nan, nan, nan, nan, nan, nan, 221278.0, 255582.0, 267031.0},
 340.0: {nan, nan, 279117.0},
 65878.0: {nan, nan, nan, nan, nan, nan},
 344.0: {238865.0},
 345.0: {260258.0},
 346.0: {nan, 258237.0, 260798.0},
 347.0: {268893.0},
 348.0: {nan, 259918.0},
 350.0: {268624.0},
 352.0: {nan, nan},
 353.0: {nan, nan, nan, nan, nan, nan, nan, nan, 208489.0, 226052.0, 232870.0},
 354.0: {227646.0},
 357.0: {248896.0, nan, nan, nan, 228283.0, 235292.0, 273842.0},
 65895.0: {290444.0},
 361.0: {nan, nan},
 364.0: {nan, 209785.0},
 365.0: {234731.0},
 367.0: {203464.0},
 65904.0: {207526.0},
 369.0: {nan, 292179.0},
 65906.0: {nan, nan, 287493.0, 294778.0, nan},
 371.0: {nan, nan, nan, nan, nan, nan, nan, nan, 255665.0},
 372.0: {224741.0},
 373.0: {nan, 211665.0},
 376.0: {nan, 253907.0, 286138.0},
 378.0: {nan, nan, 294060.0, nan},
 65915.0: {212924.0},
 65916.0: {200613.0},
 382.0: {nan, 260877.0},
 65919.0: {nan, nan, 226026.0, nan, nan},
 65920.0: {nan, nan, nan, nan, nan, 298512.0},
 386.0: {nan},
 388.0: {nan, 241204.0},
 65925.0: {202591.0, 211574.0},
 391.0: {nan, nan, nan, 220320.0, nan, nan},
 393.0: {nan, 296585.0},
 394.0: {282631.0},
 395.0: {nan, 241721.0, nan},
 397.0: {nan, nan, 225702.0},
 398.0: {nan},
 65936.0: {nan, nan, nan},
 402.0: {nan, nan, nan, nan, nan, nan, 203761.0, 233948.0, 299707.0},
 56752.0: {nan, nan, nan, nan, nan, nan, nan},
 404.0: {204729.0},
 405.0: {212385.0},
 406.0: {nan,
  nan,
  nan,
  nan,
  nan,
  231758.0,
  234844.0,
  252268.0,
  261109.0,
  285461.0},
 54681.0: {nan, 207743.0, 296190.0},
 408.0: {251827.0},
 68.0: {nan, nan, nan, nan, nan, 225771.0},
 410.0: {nan, nan, nan},
 412.0: {258588.0},
 65949.0: {256935.0},
 414.0: {203468.0},
 65951.0: {nan, nan, nan},
 416.0: {226936.0},
 418.0: {nan, nan, 253601.0, nan},
 419.0: {nan, nan, nan, nan, nan, nan, nan, 277771.0},
 420.0: {294936.0, nan},
 421.0: {233719.0},
 423.0: {212138.0, nan, 248770.0, nan, nan},
 426.0: {nan, nan, 296084.0, nan},
 427.0: {250938.0},
 65966.0: {nan, nan, 224950.0, nan},
 433.0: {nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  233155.0,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  208623.0,
  271056.0,
  288522.0},
 65970.0: {288588.0},
 437.0: {nan, nan, 257812.0},
 438.0: {nan, nan, nan, nan, nan, nan, nan, nan, 206269.0},
 65975.0: {258328.0},
 440.0: {nan, nan, 268300.0, nan, nan},
 441.0: {nan, nan, 290964.0, nan, nan},
 443.0: {229526.0},
 65980.0: {nan, 277551.0},
 445.0: {nan, 249121.0},
 65982.0: {224048.0, nan, 233330.0, nan},
 448.0: {nan},
 450.0: {211362.0},
 65611.0: {278758.0},
 452.0: {nan, nan, nan, 239694.0, 260015.0, 296795.0},
 453.0: {nan, nan, 207460.0},
 454.0: {nan},
 65991.0: {nan, nan, nan, nan, nan, 247035.0},
 457.0: {278242.0},
 65994.0: {nan, nan, nan, nan, nan, nan, nan, nan, 241196.0, 242539.0},
 461.0: {nan, nan, nan},
 77.0: {nan, nan},
 66001.0: {nan, 236985.0, nan},
 66002.0: {nan, nan, 243837.0, nan},
 468.0: {nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  281102.0,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan},
 470.0: {nan, nan, 225242.0, nan},
 471.0: {nan, 289189.0},
 472.0: {nan, 235215.0},
 66009.0: {nan, 298186.0},
 66010.0: {279038.0},
 66011.0: {nan, nan},
 477.0: {231919.0},
 66015.0: {nan, nan, 276541.0, 288246.0},
 480.0: {nan, 250913.0, nan, nan, nan, nan},
 66017.0: {nan, nan, 284276.0},
 485.0: {nan, nan, 229310.0, nan, nan},
 487.0: {228805.0},
 489.0: {nan, nan},
 490.0: {222952.0},
 491.0: {nan, 235261.0},
 492.0: {239673.0},
 494.0: {nan},
 66031.0: {227048.0},
 497.0: {nan, nan},
 498.0: {nan, nan, nan, nan, nan, 227493.0},
 500.0: {nan, 238221.0},
 66037.0: {260591.0},
 502.0: {209737.0},
 503.0: {272162.0},
 505.0: {279088.0, nan, nan, nan, 257903.0},
 507.0: {nan, nan, 264188.0},
 509.0: {nan, nan},
 66046.0: {287202.0},
 511.0: {nan, nan},
 513.0: {249657.0},
 515.0: {271900.0},
 517.0: {nan, 271348.0},
 66054.0: {nan, nan, 200653.0, nan, nan},
 66058.0: {282358.0},
 523.0: {nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  206174.0,
  227379.0},
 66061.0: {nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  211010.0,
  251991.0},
 527.0: {247080.0, nan, nan, nan},
 528.0: {nan, 248153.0},
 529.0: {nan},
 530.0: {nan, 231665.0, 246726.0},
 66067.0: {253962.0},
 66068.0: {267137.0},
 533.0: {253656.0},
 534.0: {nan, nan, nan, nan, nan, 234070.0},
 66072.0: {243848.0},
 538.0: {nan, nan, 293509.0, nan, nan},
 540.0: {nan, nan, nan, nan, nan, nan, 235635.0},
 66079.0: {nan, nan, nan, nan, nan, nan, nan, nan, nan},
 544.0: {221375.0},
 58939.0: {285754.0},
 546.0: {nan, nan, nan, nan, 247324.0, 275733.0},
 66083.0: {226336.0},
 548.0: {nan, nan, 228847.0},
 66086.0: {273776.0, nan, nan, nan},
 551.0: {nan, nan, 292243.0},
 98220.0: {nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  235538.0,
  259614.0,
  275607.0,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  214883.0,
  228589.0,
  240750.0,
  243420.0,
  246847.0,
  284407.0},
 557.0: {nan},
 66094.0: {290310.0},
 66095.0: {295922.0},
 561.0: {233424.0},
 562.0: {nan, nan, nan, nan, nan, nan, nan, nan, nan, 285737.0},
 563.0: {nan, nan, nan, nan, nan, 277001.0},
 564.0: {226524.0},
 65630.0: {275597.0},
 568.0: {nan},
 66105.0: {nan, nan, 238502.0, nan},
 570.0: {229537.0},
 571.0: {nan, 200432.0},
 572.0: {nan, 235044.0},
 66110.0: {265544.0},
 576.0: {nan},
 577.0: {274924.0},
 66115.0: {259149.0},
 580.0: {211212.0, 215524.0},
 583.0: {nan, nan, nan, 284423.0},
 585.0: {nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  228665.0},
 587.0: {nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  228333.0,
  nan,
  nan,
  nan,
  nan},
 588.0: {nan, nan, 227563.0, nan, nan},
 589.0: {235203.0},
 591.0: {nan, nan, nan, nan, nan, 236657.0},
 592.0: {nan, nan, 235336.0, nan},
 594.0: {nan, 276678.0},
 595.0: {nan, nan, nan, nan, nan, nan, nan, nan, nan, 207623.0},
 66133.0: {nan, 230027.0},
 599.0: {233544.0},
 601.0: {nan, 236620.0},
 66138.0: {nan, nan, 273330.0, nan, nan},
 603.0: {nan, nan, 200168.0, nan},
 604.0: {228403.0},
 605.0: {225778.0, 248569.0},
 606.0: {289807.0},
 66143.0: {nan, nan},
 608.0: {nan, nan, 252955.0, nan},
 610.0: {219847.0},
 612.0: {nan, nan, nan, 277359.0},
 613.0: {nan, nan, 260689.0},
 614.0: {nan, nan, 215527.0},
 66151.0: {nan, nan, 213373.0, nan, nan},
 66152.0: {nan, 205348.0},
 21948.0: {nan, nan, nan, nan, 272277.0, 279951.0},
 618.0: {nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan},
 619.0: {250890.0},
 66157.0: {nan, nan, nan, nan, nan, nan, nan, nan, 233211.0, 261802.0},
 622.0: {nan, nan},
 623.0: {nan, nan, 292410.0, nan, nan},
 624.0: {240464.0},
 625.0: {274000.0},
 66162.0: {nan, nan, 213961.0},
 627.0: {nan, nan, 204708.0, nan, nan},
 66164.0: {225573.0},
 66165.0: {299880.0},
 631.0: {nan, nan, 211592.0, 211885.0},
 634.0: {nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  233235.0,
  257539.0,
  278419.0,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  210621.0,
  nan,
  nan,
  nan},
 635.0: {nan, nan, nan},
 636.0: {nan, nan, nan, nan, nan, nan, 249432.0},
 638.0: {nan, 260459.0},
 639.0: {nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  245452.0,
  nan,
  nan,
  nan},
 641.0: {241479.0},
 642.0: {252990.0},
 644.0: {nan},
 650.0: {250475.0},
 651.0: {202853.0},
 652.0: {nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  271918.0},
 653.0: {nan, nan, nan},
 66190.0: {228238.0},
 65645.0: {286213.0},
 66193.0: {nan, 226629.0},
 66200.0: {nan, 235985.0},
 665.0: {nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  281431.0},
 667.0: {277996.0},
 668.0: {231578.0},
 66206.0: {nan, nan, 270665.0},
 671.0: {nan, nan, nan, nan, nan, nan, nan, 246119.0, nan},
 66208.0: {nan},
 674.0: {255705.0, 297101.0},
 11035.0: {239390.0},
 676.0: {232833.0},
 677.0: {289655.0},
 678.0: {nan, nan, 247062.0, nan},
 679.0: {296500.0},
 680.0: {270884.0},
 66217.0: {nan, nan, nan, nan},
 66218.0: {251324.0},
 66221.0: {259526.0},
 688.0: {nan},
 689.0: {nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  208651.0,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  250569.0,
  262119.0,
  262832.0},
 690.0: {nan, nan, nan, nan, nan, 262991.0},
 66228.0: {252653.0},
 66232.0: {238623.0},
 697.0: {nan, nan, nan, nan, nan, nan, nan, 231583.0},
 698.0: {229997.0},
 66235.0: {234310.0},
 700.0: {271449.0},
 21962.0: {224064.0, nan, 239628.0, nan, nan},
 702.0: {239118.0},
 703.0: {nan, nan, 297245.0, nan},
 705.0: {286061.0},
 708.0: {246739.0},
 709.0: {nan},
 710.0: {237263.0},
 711.0: {nan, nan, nan, nan, 256911.0, 270525.0},
 712.0: {nan},
 715.0: {nan, 282627.0},
 716.0: {nan, nan, 277562.0, nan},
 717.0: {nan, 230228.0},
 718.0: {nan, nan},
 719.0: {279467.0},
 66256.0: {nan, 280929.0, nan, nan, nan, nan, nan, nan, 207976.0, 253140.0},
 721.0: {nan, 272919.0},
 66259.0: {nan, nan, nan, nan},
 66262.0: {nan, 219916.0},
 727.0: {nan, 200754.0},
 66264.0: {nan,
  nan,
  nan,
  nan,
  256516.0,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  230408.0,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  210382.0,
  225403.0},
 729.0: {nan, 236095.0},
 731.0: {293166.0},
 732.0: {nan, nan, nan, nan, nan},
 735.0: {nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  298103.0},
 66275.0: {219710.0},
 741.0: {nan, 254153.0, nan},
 743.0: {nan, nan, 206238.0, nan, 226367.0},
 66280.0: {241440.0, nan, nan},
 745.0: {nan, nan, nan, nan, nan, nan, nan, 244976.0},
 746.0: {225829.0},
 66283.0: {nan},
 21970.0: {nan, 295402.0},
 751.0: {nan, nan, 226226.0, 239048.0},
 66288.0: {nan, nan, nan, nan, nan, nan, 234033.0},
 754.0: {nan, nan, 206698.0},
 755.0: {nan, nan, nan},
 757.0: {nan, nan, nan, nan, nan, nan},
 66295.0: {nan, nan, 298626.0, nan, nan, nan, nan},
 66296.0: {289439.0},
 761.0: {nan},

In [27]:
for subject in subject_icu_dict:
    subject_icu_dict[subject] = pd.Series(list(subject_icu_dict[subject])).unique()
#for subject in subject_icu_dict:
 #   subject_icu_dict[subject] = list(subject_icu_dict[subject])

In [28]:
subject_icu_dict

{65537.0: array([ 234193.]),
 4.0: array([ 294638.]),
 65541.0: array([ 269604.]),
 6.0: array([     nan,  228232.]),
 65544.0: array([ 293457.]),
 65547.0: array([ nan]),
 12.0: array([     nan,  232669.]),
 13.0: array([ 263738.]),
 17.0: array([     nan,  277042.,  257980.]),
 65554.0: array([ nan]),
 65555.0: array([ 213945.]),
 20.0: array([     nan,  264490.]),
 21.0: array([     nan,  216859.,  217847.]),
 65558.0: array([     nan,  271141.,  283002.,  214877.]),
 23.0: array([ 227807.]),
 24.0: array([ nan]),
 26.0: array([ 244882.]),
 28.0: array([ 225559.]),
 65565.0: array([     nan,  276116.]),
 31.0: array([ 254478.]),
 65569.0: array([     nan,  228839.]),
 34.0: array([ 290505.]),
 35.0: array([ 282039.]),
 36.0: array([     nan,  241249.,  211200.,  280987.]),
 37.0: array([ 213503.]),
 38.0: array([ 248910.]),
 43697.0: array([ 229941.]),
 41.0: array([ 237024.,      nan,  261027.]),
 42.0: array([ 210828.]),
 43.0: array([     nan,  225852.]),
 44.0: array([     nan,  291554.]),
 65582.0: array([     nan,  279995.,  297063.,  231719.]),
 49.0: array([ 249195.]),
 52.0: array([     nan,  261857.]),
 65589.0: array([     nan,  235298.]),
 55.0: array([ 262723.]),
 56.0: array([     nan,  275642.]),
 65594.0: array([     nan,  289805.,  295773.]),
 61.0: array([     nan,  252348.]),
 64.0: array([     nan,  232593.]),
 65.0: array([ 244776.,      nan]),
 11.0: array([     nan,  229441.]),
 65604.0: array([     nan,  287654.]),
 72.0: array([ 239612.]),
 65609.0: array([ 269502.]),
 75.0: array([ 281607.]),
 65613.0: array([ 243440.]),
 78.0: array([ 233150.]),
 79.0: array([ 290076.]),
 80.0: array([     nan,  256068.]),
 81.0: array([ 222874.]),
 85.0: array([     nan,  291697.,  209562.]),
 86.0: array([ 206222.]),
 65623.0: array([     nan,  263969.,  235505.]),
 65627.0: array([ 263061.]),
 93.0: array([ 242398.]),
 94.0: array([ 213450.]),
 95.0: array([ 216431.]),
 96.0: array([     nan,  211943.]),
 97.0: array([     nan,  288376.]),
 65634.0: array([     nan,  236021.]),
 103.0: array([     nan,  299890.,  212246.]),
 106.0: array([ 252051.]),
 107.0: array([     nan,  264253.]),
 109.0: array([     nan,  214027.,  219154.,  284204.,  290868.,  261180.,
         274518.,  236124.,  257134.,  298630.,  286860.,  253139.,
         299251.,  266497.,  243532.,  217934.,  257358.,  232807.,
         249219.,  222630.,  221610.,  254406.,  291270.,  243688.,
         237552.,  256504.,  262652.]),
 65646.0: array([ 256696.]),
 111.0: array([ 249202.,  254245.]),
 112.0: array([     nan,  251972.]),
 113.0: array([ 224661.]),
 65650.0: array([     nan,  288116.]),
 115.0: array([     nan,  232514.]),
 65652.0: array([ 298013.]),
 117.0: array([ 211700.,  217966.]),
 65654.0: array([     nan,  279593.]),
 65656.0: array([ 205059.]),
 65556.0: array([     nan,  205747.]),
 123.0: array([ 227264.]),
 124.0: array([ 256064.,      nan,  225073.]),
 125.0: array([     nan,  268261.]),
 32789.0: array([ 213725.,      nan,  249640.,  246909.]),
 65666.0: array([ nan]),
 48533.0: array([ 210463.]),
 133.0: array([ 223465.]),
 134.0: array([     nan,  249359.]),
 135.0: array([     nan,  290462.]),
 136.0: array([ nan]),
 137.0: array([ 272335.]),
 138.0: array([     nan,  294958.,  275067.,  254974.]),
 65675.0: array([     nan,  252303.]),
 140.0: array([ 294530.]),
 141.0: array([ 234668.]),
 142.0: array([     nan,  269111.]),
 143.0: array([     nan,  293406.]),
 144.0: array([ 269520.,      nan]),
 65560.0: array([ 205950.]),
 65682.0: array([ 294316.]),
 147.0: array([     nan,  252947.]),
 150.0: array([     nan,  201239.]),
 151.0: array([ 263211.]),
 152.0: array([ 279643.]),
 65689.0: array([ nan]),
 154.0: array([ 201272.]),
 155.0: array([     nan,  295168.]),
 156.0: array([ 260696.,  259092.]),
 157.0: array([     nan,  235058.,  264885.]),
 160.0: array([ 257626.]),
 161.0: array([ nan]),
 164.0: array([ 218740.]),
 165.0: array([ 247247.]),
 166.0: array([ 271863.]),
 65703.0: array([     nan,  240705.,  233814.,  275549.]),
 169.0: array([     nan,  262856.]),
 170.0: array([ 283077.]),
 171.0: array([ 274684.]),
 172.0: array([     nan,  235343.]),
 21874.0: array([     nan,  292799.]),
 65710.0: array([ nan]),
 65711.0: array([ 299785.]),
 176.0: array([ nan]),
 177.0: array([     nan,  255303.,  231756.,  207706.,  288571.]),
 178.0: array([ 297704.,      nan]),
 179.0: array([ 256090.]),
 182.0: array([     nan,  279109.]),
 65719.0: array([     nan,  284268.]),
 184.0: array([ 236049.]),
 188.0: array([     nan,  278679.,  263996.,  246866.,  255726.,  284015.,  292343.]),
 189.0: array([ 237693.]),
 191.0: array([     nan,  285720.,  280149.]),
 65728.0: array([     nan,  287410.]),
 98336.0: array([     nan,  268081.,  233253.]),
 195.0: array([     nan,  291941.,  266038.]),
 197.0: array([     nan,  275674.]),
 198.0: array([     nan,  251887.]),
 199.0: array([ 235675.]),
 200.0: array([     nan,  249462.]),
 65737.0: array([ nan]),
 202.0: array([ 228132.]),
 203.0: array([ 249689.,  244420.]),
 65570.0: array([     nan,  234598.,  211702.]),
 65743.0: array([ nan]),
 208.0: array([ 279205.]),
 209.0: array([ 206719.]),
 210.0: array([     nan,  269125.]),
 211.0: array([ 270493.,  248590.]),
 213.0: array([ 253210.]),
 214.0: array([     nan,  200066.,  255525.]),
 217.0: array([ 226300.]),
 221.0: array([ 247500.]),
 222.0: array([     nan,  232363.,  290416.,  256144.]),
 223.0: array([ 255617.,  231395.]),
 224.0: array([ 255378.]),
 225.0: array([ 224803.]),
 226.0: array([     nan,  250583.]),
 228.0: array([     nan,  235332.]),
 231.0: array([     nan,  242685.]),
 234.0: array([     nan,  233735.]),
 235.0: array([ nan]),
 236.0: array([ 227008.,      nan,  205826.,  259718.]),
 65773.0: array([     nan,  292838.]),
 238.0: array([ 208413.]),
 239.0: array([     nan,  231723.]),
 240.0: array([ 202248.,      nan]),
 241.0: array([ 259962.]),
 65779.0: array([     nan,  220032.,  278702.]),
 245.0: array([     nan,  216674.]),
 246.0: array([     nan,  287265.]),
 65577.0: array([ 293763.]),
 248.0: array([     nan,  219979.]),
 249.0: array([     nan,  215044.,  282599.,  263882.]),
 250.0: array([ 205951.]),
 65787.0: array([ nan]),
 252.0: array([ 212805.,  221239.]),
 255.0: array([ nan]),
 256.0: array([     nan,  273229.,  254418.,  263221.,  296823.]),
 65793.0: array([     nan,  283275.]),
 65579.0: array([     nan,  234498.]),
 262.0: array([ 243312.]),
 263.0: array([     nan,  216500.]),
 265.0: array([ 299976.]),
 266.0: array([ nan]),
 267.0: array([ 223660.]),
 268.0: array([     nan,  280836.]),
 269.0: array([     nan,  206613.]),
 270.0: array([     nan,  220345.]),
 271.0: array([     nan,  249196.]),
 275.0: array([     nan,  219649.]),
 276.0: array([ 206327.]),
 65815.0: array([ 265074.]),
 281.0: array([ 257572.]),
 282.0: array([     nan,  293262.]),
 285.0: array([ 238023.]),
 286.0: array([ 260225.]),
 287.0: array([     nan,  270957.,  245343.]),
 65824.0: array([ 292409.,  277723.]),
 65825.0: array([ 239955.]),
 290.0: array([     nan,  278519.]),
 65827.0: array([ 288496.]),
 293.0: array([ 263651.]),
 294.0: array([     nan,  222074.]),
 295.0: array([ nan]),
 65833.0: array([ 221149.,  274838.]),
 298.0: array([     nan,  225523.]),
 65835.0: array([ 241309.]),
 65837.0: array([     nan,  251654.,  267999.]),
 65838.0: array([     nan,  295742.]),
 303.0: array([     nan,  261797.]),
 305.0: array([     nan,  232719.,  297009.,  232248.,  224571.]),
 306.0: array([     nan,  291141.]),
 65843.0: array([ 285128.]),
 309.0: array([ 211035.]),
 310.0: array([ 269885.]),
 313.0: array([ 261824.]),
 315.0: array([ 266988.]),
 65852.0: array([ 207708.]),
 65854.0: array([     nan,  238884.]),
 319.0: array([ 281554.]),
 321.0: array([ nan]),
 322.0: array([     nan,  217128.]),
 323.0: array([ 206073.]),
 324.0: array([ 285067.]),
 325.0: array([     nan,  221000.]),
 326.0: array([     nan,  281585.]),
 327.0: array([     nan,  272596.]),
 328.0: array([ 294224.]),
 329.0: array([ 217001.]),
 330.0: array([ nan]),
 333.0: array([ 243350.]),
 335.0: array([ nan]),
 338.0: array([     nan,  217990.]),
 339.0: array([     nan,  267031.,  221278.,  255582.]),
 340.0: array([     nan,  279117.]),
 65878.0: array([ nan]),
 344.0: array([ 238865.]),
 345.0: array([ 260258.]),
 346.0: array([     nan,  258237.,  260798.]),
 347.0: array([ 268893.]),
 348.0: array([     nan,  259918.]),
 350.0: array([ 268624.]),
 352.0: array([ nan]),
 353.0: array([     nan,  232870.,  208489.,  226052.]),
 354.0: array([ 227646.]),
 357.0: array([ 248896.,      nan,  273842.,  228283.,  235292.]),
 65895.0: array([ 290444.]),
 361.0: array([ nan]),
 364.0: array([     nan,  209785.]),
 365.0: array([ 234731.]),
 367.0: array([ 203464.]),
 65904.0: array([ 207526.]),
 369.0: array([     nan,  292179.]),
 65906.0: array([     nan,  294778.,  287493.]),
 371.0: array([     nan,  255665.]),
 372.0: array([ 224741.]),
 373.0: array([     nan,  211665.]),
 376.0: array([     nan,  286138.,  253907.]),
 378.0: array([     nan,  294060.]),
 65915.0: array([ 212924.]),
 65916.0: array([ 200613.]),
 382.0: array([     nan,  260877.]),
 65919.0: array([     nan,  226026.]),
 65920.0: array([     nan,  298512.]),
 386.0: array([ nan]),
 388.0: array([     nan,  241204.]),
 65925.0: array([ 211574.,  202591.]),
 391.0: array([     nan,  220320.]),
 393.0: array([     nan,  296585.]),
 394.0: array([ 282631.]),
 395.0: array([     nan,  241721.]),
 397.0: array([     nan,  225702.]),
 398.0: array([ nan]),
 65936.0: array([ nan]),
 402.0: array([     nan,  203761.,  299707.,  233948.]),
 56752.0: array([ nan]),
 404.0: array([ 204729.]),
 405.0: array([ 212385.]),
 406.0: array([     nan,  252268.,  231758.,  261109.,  285461.,  234844.]),
 54681.0: array([     nan,  296190.,  207743.]),
 408.0: array([ 251827.]),
 68.0: array([     nan,  225771.]),
 410.0: array([ nan]),
 412.0: array([ 258588.]),
 65949.0: array([ 256935.]),
 414.0: array([ 203468.]),
 65951.0: array([ nan]),
 416.0: array([ 226936.]),
 418.0: array([     nan,  253601.]),
 419.0: array([     nan,  277771.]),
 420.0: array([ 294936.,      nan]),
 421.0: array([ 233719.]),
 423.0: array([ 212138.,      nan,  248770.]),
 426.0: array([     nan,  296084.]),
 427.0: array([ 250938.]),
 65966.0: array([     nan,  224950.]),
 433.0: array([     nan,  233155.,  271056.,  288522.,  208623.]),
 65970.0: array([ 288588.]),
 437.0: array([     nan,  257812.]),
 438.0: array([     nan,  206269.]),
 65975.0: array([ 258328.]),
 440.0: array([     nan,  268300.]),
 441.0: array([     nan,  290964.]),
 443.0: array([ 229526.]),
 65980.0: array([     nan,  277551.]),
 445.0: array([     nan,  249121.]),
 65982.0: array([ 224048.,      nan,  233330.]),
 448.0: array([ nan]),
 450.0: array([ 211362.]),
 65611.0: array([ 278758.]),
 452.0: array([     nan,  239694.,  260015.,  296795.]),
 453.0: array([     nan,  207460.]),
 454.0: array([ nan]),
 65991.0: array([     nan,  247035.]),
 457.0: array([ 278242.]),
 65994.0: array([     nan,  242539.,  241196.]),
 461.0: array([ nan]),
 77.0: array([ nan]),
 66001.0: array([     nan,  236985.]),
 66002.0: array([     nan,  243837.]),
 468.0: array([     nan,  281102.]),
 470.0: array([     nan,  225242.]),
 471.0: array([     nan,  289189.]),
 472.0: array([     nan,  235215.]),
 66009.0: array([     nan,  298186.]),
 66010.0: array([ 279038.]),
 66011.0: array([ nan]),
 477.0: array([ 231919.]),
 66015.0: array([     nan,  276541.,  288246.]),
 480.0: array([     nan,  250913.]),
 66017.0: array([     nan,  284276.]),
 485.0: array([     nan,  229310.]),
 487.0: array([ 228805.]),
 489.0: array([ nan]),
 490.0: array([ 222952.]),
 491.0: array([     nan,  235261.]),
 492.0: array([ 239673.]),
 494.0: array([ nan]),
 66031.0: array([ 227048.]),
 497.0: array([ nan]),
 498.0: array([     nan,  227493.]),
 500.0: array([     nan,  238221.]),
 66037.0: array([ 260591.]),
 502.0: array([ 209737.]),
 503.0: array([ 272162.]),
 505.0: array([ 279088.,      nan,  257903.]),
 507.0: array([     nan,  264188.]),
 509.0: array([ nan]),
 66046.0: array([ 287202.]),
 511.0: array([ nan]),
 513.0: array([ 249657.]),
 515.0: array([ 271900.]),
 517.0: array([     nan,  271348.]),
 66054.0: array([     nan,  200653.]),
 66058.0: array([ 282358.]),
 523.0: array([     nan,  227379.,  206174.]),
 66061.0: array([     nan,  211010.,  251991.]),
 527.0: array([ 247080.,      nan]),
 528.0: array([     nan,  248153.]),
 529.0: array([ nan]),
 530.0: array([     nan,  231665.,  246726.]),
 66067.0: array([ 253962.]),
 66068.0: array([ 267137.]),
 533.0: array([ 253656.]),
 534.0: array([     nan,  234070.]),
 66072.0: array([ 243848.]),
 538.0: array([     nan,  293509.]),
 540.0: array([     nan,  235635.]),
 66079.0: array([ nan]),
 544.0: array([ 221375.]),
 58939.0: array([ 285754.]),
 546.0: array([     nan,  275733.,  247324.]),
 66083.0: array([ 226336.]),
 548.0: array([     nan,  228847.]),
 66086.0: array([ 273776.,      nan]),
 551.0: array([     nan,  292243.]),
 98220.0: array([     nan,  235538.,  275607.,  259614.,  246847.,  243420.,
         214883.,  228589.,  240750.,  284407.]),
 557.0: array([ nan]),
 66094.0: array([ 290310.]),
 66095.0: array([ 295922.]),
 561.0: array([ 233424.]),
 562.0: array([     nan,  285737.]),
 563.0: array([     nan,  277001.]),
 564.0: array([ 226524.]),
 65630.0: array([ 275597.]),
 568.0: array([ nan]),
 66105.0: array([     nan,  238502.]),
 570.0: array([ 229537.]),
 571.0: array([     nan,  200432.]),
 572.0: array([     nan,  235044.]),
 66110.0: array([ 265544.]),
 576.0: array([ nan]),
 577.0: array([ 274924.]),
 66115.0: array([ 259149.]),
 580.0: array([ 215524.,  211212.]),
 583.0: array([     nan,  284423.]),
 585.0: array([     nan,  228665.]),
 587.0: array([     nan,  228333.]),
 588.0: array([     nan,  227563.]),
 589.0: array([ 235203.]),
 591.0: array([     nan,  236657.]),
 592.0: array([     nan,  235336.]),
 594.0: array([     nan,  276678.]),
 595.0: array([     nan,  207623.]),
 66133.0: array([     nan,  230027.]),
 599.0: array([ 233544.]),
 601.0: array([     nan,  236620.]),
 66138.0: array([     nan,  273330.]),
 603.0: array([     nan,  200168.]),
 604.0: array([ 228403.]),
 605.0: array([ 248569.,  225778.]),
 606.0: array([ 289807.]),
 66143.0: array([ nan]),
 608.0: array([     nan,  252955.]),
 610.0: array([ 219847.]),
 612.0: array([     nan,  277359.]),
 613.0: array([     nan,  260689.]),
 614.0: array([     nan,  215527.]),
 66151.0: array([     nan,  213373.]),
 66152.0: array([     nan,  205348.]),
 21948.0: array([     nan,  279951.,  272277.]),
 618.0: array([ nan]),
 619.0: array([ 250890.]),
 66157.0: array([     nan,  261802.,  233211.]),
 622.0: array([ nan]),
 623.0: array([     nan,  292410.]),
 624.0: array([ 240464.]),
 625.0: array([ 274000.]),
 66162.0: array([     nan,  213961.]),
 627.0: array([     nan,  204708.]),
 66164.0: array([ 225573.]),
 66165.0: array([ 299880.]),
 631.0: array([     nan,  211592.,  211885.]),
 634.0: array([     nan,  278419.,  233235.,  210621.,  257539.]),
 635.0: array([ nan]),
 636.0: array([     nan,  249432.]),
 638.0: array([     nan,  260459.]),
 639.0: array([     nan,  245452.]),
 641.0: array([ 241479.]),
 642.0: array([ 252990.]),
 644.0: array([ nan]),
 650.0: array([ 250475.]),
 651.0: array([ 202853.]),
 652.0: array([     nan,  271918.]),
 653.0: array([ nan]),
 66190.0: array([ 228238.]),
 65645.0: array([ 286213.]),
 66193.0: array([     nan,  226629.]),
 66200.0: array([     nan,  235985.]),
 665.0: array([     nan,  281431.]),
 667.0: array([ 277996.]),
 668.0: array([ 231578.]),
 66206.0: array([     nan,  270665.]),
 671.0: array([     nan,  246119.]),
 66208.0: array([ nan]),
 674.0: array([ 255705.,  297101.]),
 11035.0: array([ 239390.]),
 676.0: array([ 232833.]),
 677.0: array([ 289655.]),
 678.0: array([     nan,  247062.]),
 679.0: array([ 296500.]),
 680.0: array([ 270884.]),
 66217.0: array([ nan]),
 66218.0: array([ 251324.]),
 66221.0: array([ 259526.]),
 688.0: array([ nan]),
 689.0: array([     nan,  208651.,  262832.,  250569.,  262119.]),
 690.0: array([     nan,  262991.]),
 66228.0: array([ 252653.]),
 66232.0: array([ 238623.]),
 697.0: array([     nan,  231583.]),
 698.0: array([ 229997.]),
 66235.0: array([ 234310.]),
 700.0: array([ 271449.]),
 21962.0: array([ 224064.,      nan,  239628.]),
 702.0: array([ 239118.]),
 703.0: array([     nan,  297245.]),
 705.0: array([ 286061.]),
 708.0: array([ 246739.]),
 709.0: array([ nan]),
 710.0: array([ 237263.]),
 711.0: array([     nan,  256911.,  270525.]),
 712.0: array([ nan]),
 715.0: array([     nan,  282627.]),
 716.0: array([     nan,  277562.]),
 717.0: array([     nan,  230228.]),
 718.0: array([ nan]),
 719.0: array([ 279467.]),
 66256.0: array([     nan,  280929.,  207976.,  253140.]),
 721.0: array([     nan,  272919.]),
 66259.0: array([ nan]),
 66262.0: array([     nan,  219916.]),
 727.0: array([     nan,  200754.]),
 66264.0: array([     nan,  256516.,  230408.,  210382.,  225403.]),
 729.0: array([     nan,  236095.]),
 731.0: array([ 293166.]),
 732.0: array([ nan]),
 735.0: array([     nan,  298103.]),
 66275.0: array([ 219710.]),
 741.0: array([     nan,  254153.]),
 743.0: array([     nan,  206238.,  226367.]),
 66280.0: array([ 241440.,      nan]),
 745.0: array([     nan,  244976.]),
 746.0: array([ 225829.]),
 66283.0: array([ nan]),
 21970.0: array([     nan,  295402.]),
 751.0: array([     nan,  226226.,  239048.]),
 66288.0: array([     nan,  234033.]),
 754.0: array([     nan,  206698.]),
 755.0: array([ nan]),
 757.0: array([ nan]),
 66295.0: array([     nan,  298626.]),
 66296.0: array([ 289439.]),
 761.0: array([ nan]),
 66298.0: array([     nan,  200105.,  291475.]),
 765.0: array([ nan]),
 766.0: array([ 255483.,  241981.]),
 767.0: array([ nan]),
 768.0: array([     nan,  216049.]),
 66306.0: array([ 202961.]),
 66307.0: array([     nan,  252833.,  210241.]),
 772.0: array([ 252775.]),
 773.0: array([ 213086.]),
 66310.0: array([ 247071.]),
 66311.0: array([ nan]),
 776.0: array([     nan,  220142.,  229719.]),
 778.0: array([     nan,  247130.]),
 779.0: array([     nan,  275387.]),
 130.0: array([ 296584.,      nan,  211157.]),
 782.0: array([     nan,  264637.]),
 785.0: array([ 228499.]),
 66322.0: array([ nan]),
 787.0: array([ 237489.,  214226.]),
 793.0: array([     nan,  272023.]),
 794.0: array([ 287273.]),
 796.0: array([ 284708.]),
 798.0: array([ 202989.,  298053.,  272247.]),
 799.0: array([     nan,  272891.]),
 66337.0: array([ 268031.]),
 66338.0: array([     nan,  268643.,  232949.]),
 66339.0: array([     nan,  202349.]),
 804.0: array([     nan,  224522.]),
 805.0: array([     nan,  234006.]),
 806.0: array([ 239074.]),
 807.0: array([     nan,  277101.,  214066.]),
 808.0: array([     nan,  257671.,  239433.,  233707.,  268716.,  282840.,  245020.]),
 810.0: array([ 257899.]),
 811.0: array([     nan,  249886.]),
 11058.0: array([ 247566.]),
 815.0: array([ 243707.]),
 819.0: array([ 202218.]),
 820.0: array([     nan,  219249.,  280074.]),
 24032.0: array([     nan,  252717.]),
 822.0: array([     nan,  203461.,  250288.,  253241.,  237662.]),
 823.0: array([     nan,  221472.]),
 824.0: array([     nan,  266297.,  283346.]),
 66362.0: array([ 240059.]),
 827.0: array([ nan]),
 66365.0: array([ nan]),
 76597.0: array([ 248549.]),
 832.0: array([     nan,  274417.]),
 835.0: array([     nan,  275900.]),
 66373.0: array([ 228808.]),
 840.0: array([ 269462.]),
 841.0: array([     nan,  266757.]),
 26215.0: array([ 221646.]),
 66384.0: array([ 268891.,  287419.]),
 11064.0: array([ 204951.]),
 66386.0: array([ 201209.]),
 54755.0: array([ 237775.]),
 852.0: array([     nan,  287998.]),
 65678.0: array([ 213644.,  252694.]),
 854.0: array([ 216266.]),
 11065.0: array([     nan,  238868.]),
 856.0: array([ 200779.]),
 857.0: array([     nan,  205131.]),
 860.0: array([     nan,  289012.]),
 76602.0: array([ 204448.,  257389.]),

In [29]:
subject_icu_binary_dict = dict()
for subject in subject_icu_dict:
    if (np.isnan(subject_icu_dict[subject]).all()):
        subject_icu_binary_dict[subject] = 0
    else:
        subject_icu_binary_dict[subject] = 1
subject_icu_binary_dict

{65537.0: 1,
 4.0: 1,
 65541.0: 1,
 6.0: 1,
 65544.0: 1,
 11.0: 1,
 12.0: 1,
 13.0: 1,
 17.0: 1,
 65554.0: 0,
 65555.0: 1,
 20.0: 1,
 21.0: 1,
 65558.0: 1,
 23.0: 1,
 24.0: 0,
 26.0: 1,
 28.0: 1,
 65565.0: 1,
 31.0: 1,
 65569.0: 1,
 34.0: 1,
 35.0: 1,
 36.0: 1,
 37.0: 1,
 38.0: 1,
 41.0: 1,
 42.0: 1,
 43.0: 1,
 44.0: 1,
 65582.0: 1,
 49.0: 1,
 52.0: 1,
 65589.0: 1,
 55.0: 1,
 56.0: 1,
 65594.0: 1,
 61.0: 1,
 64.0: 1,
 65.0: 1,
 65547.0: 0,
 68.0: 1,
 72.0: 1,
 65609.0: 1,
 75.0: 1,
 65613.0: 1,
 78.0: 1,
 79.0: 1,
 80.0: 1,
 81.0: 1,
 85.0: 1,
 86.0: 1,
 65623.0: 1,
 65627.0: 1,
 93.0: 1,
 94.0: 1,
 95.0: 1,
 96.0: 1,
 97.0: 1,
 65634.0: 1,
 103.0: 1,
 106.0: 1,
 107.0: 1,
 109.0: 1,
 65646.0: 1,
 111.0: 1,
 112.0: 1,
 113.0: 1,
 65650.0: 1,
 115.0: 1,
 65652.0: 1,
 117.0: 1,
 65654.0: 1,
 65656.0: 1,
 65556.0: 1,
 123.0: 1,
 124.0: 1,
 125.0: 1,
 65666.0: 0,
 133.0: 1,
 134.0: 1,
 135.0: 1,
 136.0: 0,
 137.0: 1,
 138.0: 1,
 65675.0: 1,
 140.0: 1,
 141.0: 1,
 142.0: 1,
 143.0: 1,
 144.0: 1,
 65560.0: 1,
 65682.0: 1,
 147.0: 1,
 150.0: 1,
 151.0: 1,
 152.0: 1,
 65689.0: 0,
 154.0: 1,
 155.0: 1,
 156.0: 1,
 157.0: 1,
 160.0: 1,
 161.0: 0,
 164.0: 1,
 165.0: 1,
 166.0: 1,
 65703.0: 1,
 169.0: 1,
 170.0: 1,
 171.0: 1,
 172.0: 1,
 21874.0: 1,
 65710.0: 0,
 65711.0: 1,
 176.0: 0,
 177.0: 1,
 178.0: 1,
 179.0: 1,
 182.0: 1,
 65719.0: 1,
 184.0: 1,
 188.0: 1,
 189.0: 1,
 191.0: 1,
 65728.0: 1,
 32800.0: 1,
 195.0: 1,
 197.0: 1,
 198.0: 1,
 199.0: 1,
 200.0: 1,
 65737.0: 0,
 202.0: 1,
 203.0: 1,
 65570.0: 1,
 65743.0: 0,
 208.0: 1,
 209.0: 1,
 210.0: 1,
 211.0: 1,
 213.0: 1,
 214.0: 1,
 217.0: 1,
 221.0: 1,
 222.0: 1,
 223.0: 1,
 224.0: 1,
 225.0: 1,
 226.0: 1,
 228.0: 1,
 231.0: 1,
 234.0: 1,
 235.0: 0,
 236.0: 1,
 65773.0: 1,
 238.0: 1,
 239.0: 1,
 240.0: 1,
 241.0: 1,
 65779.0: 1,
 245.0: 1,
 246.0: 1,
 65577.0: 1,
 248.0: 1,
 249.0: 1,
 250.0: 1,
 65787.0: 0,
 252.0: 1,
 255.0: 0,
 256.0: 1,
 65793.0: 1,
 65579.0: 1,
 262.0: 1,
 263.0: 1,
 265.0: 1,
 266.0: 0,
 267.0: 1,
 268.0: 1,
 269.0: 1,
 270.0: 1,
 271.0: 1,
 275.0: 1,
 276.0: 1,
 65815.0: 1,
 281.0: 1,
 282.0: 1,
 285.0: 1,
 286.0: 1,
 287.0: 1,
 65824.0: 1,
 65825.0: 1,
 290.0: 1,
 65827.0: 1,
 293.0: 1,
 294.0: 1,
 295.0: 0,
 65833.0: 1,
 298.0: 1,
 65835.0: 1,
 65837.0: 1,
 65838.0: 1,
 303.0: 1,
 305.0: 1,
 306.0: 1,
 65843.0: 1,
 309.0: 1,
 310.0: 1,
 313.0: 1,
 315.0: 1,
 65852.0: 1,
 65854.0: 1,
 319.0: 1,
 321.0: 0,
 322.0: 1,
 323.0: 1,
 324.0: 1,
 325.0: 1,
 326.0: 1,
 327.0: 1,
 328.0: 1,
 329.0: 1,
 330.0: 0,
 333.0: 1,
 335.0: 0,
 338.0: 1,
 339.0: 1,
 340.0: 1,
 65878.0: 0,
 344.0: 1,
 345.0: 1,
 346.0: 1,
 347.0: 1,
 348.0: 1,
 13105.0: 1,
 350.0: 1,
 352.0: 0,
 353.0: 1,
 354.0: 1,
 357.0: 1,
 65895.0: 1,
 9253.0: 1,
 361.0: 0,
 69483.0: 1,
 364.0: 1,
 365.0: 1,
 367.0: 1,
 65904.0: 1,
 369.0: 1,
 65906.0: 1,
 371.0: 1,
 372.0: 1,
 373.0: 1,
 376.0: 1,
 378.0: 1,
 65915.0: 1,
 65916.0: 1,
 382.0: 1,
 65919.0: 1,
 65920.0: 1,
 386.0: 0,
 388.0: 1,
 65925.0: 1,
 391.0: 1,
 393.0: 1,
 394.0: 1,
 395.0: 1,
 397.0: 1,
 398.0: 0,
 65936.0: 0,
 402.0: 1,
 404.0: 1,
 405.0: 1,
 406.0: 1,
 408.0: 1,
 65604.0: 1,
 410.0: 0,
 412.0: 1,
 65949.0: 1,
 414.0: 1,
 65951.0: 0,
 416.0: 1,
 418.0: 1,
 419.0: 1,
 420.0: 1,
 421.0: 1,
 423.0: 1,
 426.0: 1,
 427.0: 1,
 65966.0: 1,
 433.0: 1,
 65970.0: 1,
 437.0: 1,
 438.0: 1,
 65975.0: 1,
 440.0: 1,
 441.0: 1,
 443.0: 1,
 65980.0: 1,
 445.0: 1,
 65982.0: 1,
 448.0: 0,
 450.0: 1,
 65611.0: 1,
 452.0: 1,
 453.0: 1,
 454.0: 0,
 65991.0: 1,
 457.0: 1,
 65994.0: 1,
 461.0: 0,
 77.0: 0,
 66001.0: 1,
 66002.0: 1,
 468.0: 1,
 470.0: 1,
 471.0: 1,
 472.0: 1,
 66009.0: 1,
 66010.0: 1,
 66011.0: 0,
 477.0: 1,
 66015.0: 1,
 480.0: 1,
 66017.0: 1,
 485.0: 1,
 487.0: 1,
 489.0: 0,
 490.0: 1,
 491.0: 1,
 492.0: 1,
 494.0: 0,
 66031.0: 1,
 497.0: 0,
 498.0: 1,
 500.0: 1,
 66037.0: 1,
 502.0: 1,
 503.0: 1,
 505.0: 1,
 507.0: 1,
 509.0: 0,
 66046.0: 1,
 511.0: 0,
 513.0: 1,
 515.0: 1,
 517.0: 1,
 66054.0: 1,
 66058.0: 1,
 523.0: 1,
 66061.0: 1,
 527.0: 1,
 528.0: 1,
 529.0: 0,
 530.0: 1,
 66067.0: 1,
 66068.0: 1,
 533.0: 1,
 534.0: 1,
 66072.0: 1,
 538.0: 1,
 540.0: 1,
 66079.0: 0,
 544.0: 1,
 546.0: 1,
 66083.0: 1,
 548.0: 1,
 66086.0: 1,
 551.0: 1,
 557.0: 0,
 66094.0: 1,
 66095.0: 1,
 561.0: 1,
 562.0: 1,
 563.0: 1,
 564.0: 1,
 65630.0: 1,
 568.0: 0,
 66105.0: 1,
 570.0: 1,
 571.0: 1,
 572.0: 1,
 66110.0: 1,
 576.0: 0,
 577.0: 1,
 66115.0: 1,
 580.0: 1,
 583.0: 1,
 585.0: 1,
 587.0: 1,
 588.0: 1,
 589.0: 1,
 591.0: 1,
 592.0: 1,
 594.0: 1,
 595.0: 1,
 66133.0: 1,
 599.0: 1,
 601.0: 1,
 66138.0: 1,
 603.0: 1,
 604.0: 1,
 605.0: 1,
 606.0: 1,
 66143.0: 0,
 608.0: 1,
 610.0: 1,
 612.0: 1,
 613.0: 1,
 614.0: 1,
 66151.0: 1,
 66152.0: 1,
 21948.0: 1,
 618.0: 0,
 619.0: 1,
 66157.0: 1,
 622.0: 0,
 623.0: 1,
 624.0: 1,
 625.0: 1,
 66162.0: 1,
 627.0: 1,
 66164.0: 1,
 66165.0: 1,
 631.0: 1,
 634.0: 1,
 635.0: 0,
 636.0: 1,
 638.0: 1,
 639.0: 1,
 641.0: 1,
 642.0: 1,
 644.0: 0,
 650.0: 1,
 651.0: 1,
 652.0: 1,
 653.0: 0,
 66190.0: 1,
 65645.0: 1,
 66193.0: 1,
 66200.0: 1,
 665.0: 1,
 667.0: 1,
 668.0: 1,
 66206.0: 1,
 671.0: 1,
 66208.0: 0,
 674.0: 1,
 76571.0: 1,
 676.0: 1,
 677.0: 1,
 678.0: 1,
 679.0: 1,
 680.0: 1,
 66217.0: 0,
 66218.0: 1,
 66221.0: 1,
 688.0: 0,
 689.0: 1,
 690.0: 1,
 66228.0: 1,
 66232.0: 1,
 697.0: 1,
 698.0: 1,
 66235.0: 1,
 700.0: 1,
 21962.0: 1,
 702.0: 1,
 703.0: 1,
 705.0: 1,
 708.0: 1,
 709.0: 0,
 710.0: 1,
 711.0: 1,
 712.0: 0,
 715.0: 1,
 716.0: 1,
 717.0: 1,
 718.0: 0,
 719.0: 1,
 66256.0: 1,
 721.0: 1,
 66259.0: 0,
 66262.0: 1,
 727.0: 1,
 66264.0: 1,
 729.0: 1,
 731.0: 1,
 732.0: 0,
 6571.0: 1,
 735.0: 1,
 66275.0: 1,
 741.0: 1,
 743.0: 1,
 66280.0: 1,
 745.0: 1,
 746.0: 1,
 66283.0: 0,
 21970.0: 1,
 751.0: 1,
 66288.0: 1,
 754.0: 1,
 755.0: 0,
 757.0: 0,
 66295.0: 1,
 66296.0: 1,
 761.0: 0,
 66298.0: 1,
 765.0: 0,
 766.0: 1,
 767.0: 0,
 768.0: 1,
 66306.0: 1,
 66307.0: 1,
 772.0: 1,
 773.0: 1,
 66310.0: 1,
 66311.0: 0,
 776.0: 1,
 778.0: 1,
 779.0: 1,
 130.0: 1,
 782.0: 1,
 785.0: 1,
 66322.0: 0,
 787.0: 1,
 793.0: 1,
 794.0: 1,
 796.0: 1,
 798.0: 1,
 799.0: 1,
 66337.0: 1,
 66338.0: 1,
 66339.0: 1,
 804.0: 1,
 805.0: 1,
 806.0: 1,
 807.0: 1,
 808.0: 1,
 810.0: 1,
 811.0: 1,
 76594.0: 1,
 815.0: 1,
 819.0: 1,
 820.0: 1,
 24032.0: 1,
 822.0: 1,
 823.0: 1,
 824.0: 1,
 66362.0: 1,
 827.0: 0,
 66365.0: 0,
 11061.0: 1,
 832.0: 1,
 835.0: 1,
 66373.0: 1,
 840.0: 1,
 841.0: 1,
 66384.0: 1,
 76600.0: 1,
 66386.0: 1,
 852.0: 1,
 65678.0: 1,
 854.0: 1,
 76601.0: 1,
 856.0: 1,
 857.0: 1,
 860.0: 1,
 11066.0: 1,
 862.0: 1,
 66399.0: 1,
 864.0: 1,
 865.0: 1,
 867.0: 1,
 66405.0: 1,
 145.0: 1,
 66409.0: 0,
 66411.0: 1,
 66412.0: 1,
 877.0: 1,
 878.0: 1,
 882.0: 1,
 883.0: 1,
 885.0: 1,
 66424.0: 1,
 889.0: 1,
 890.0: 1,
 893.0: 1,
 894.0: 1,
 895.0: 1,
 896.0: 1,
 897.0: 1,
 899.0: 1,
 901.0: 1,
 66438.0: 1,
 903.0: 1,
 904.0: 1,
 905.0: 1,
 907.0: 1,
 908.0: 1,
 914.0: 1,
 915.0: 1,
 66452.0: 1,
 918.0: 1,
 11076.0: 1,
 922.0: 1,
 923.0: 1,
 924.0: 1,
 925.0: 1,
 927.0: 1,
 928.0: 1,
 929.0: 1,
 931.0: 1,
 936.0: 1,
 65692.0: 1,
 66474.0: 1,
 940.0: 1,
 66479.0: 1,
 945.0: 0,
 946.0: 1,
 947.0: 1,
 949.0: 1,
 952.0: 0,
 953.0: 1,
 954.0: 1,
 956.0: 1,
 957.0: 1,
 959.0: 1,
 960.0: 0,
 65696.0: 1,
 963.0: 1,
 66504.0: 1,
 969.0: 1,
 970.0: 0,
 66507.0: 0,
 66508.0: 1,
 974.0: 0,
 975.0: 1,
 976.0: 1,
 980.0: 1,
 981.0: 1,
 984.0: 1,
 985.0: 1,
 989.0: 1,
 66526.0: 0,
 993.0: 1,
 994.0: 1,
 995.0: 1,
 66532.0: 1,
 998.0: 1,
 76625.0: 1,
 1000.0: 1,
 1001.0: 1,
 1004.0: 1,
 1005.0: 1,
 1006.0: 1,
 1007.0: 1,
 1009.0: 1,
 1010.0: 1,
 11091.0: 1,
 1012.0: 0,
 1013.0: 1,
 1017.0: 1,
 1018.0: 1,
 1019.0: 1,
 1020.0: 1,
 65706.0: 1,
 66560.0: 1,
 1026.0: 1,
 1027.0: 0,
 1029.0: 1,
 1030.0: 1,
 1034.0: 1,
 66571.0: 1,
 1036.0: 1,
 1037.0: 1,
 66574.0: 1,
 1039.0: 1,
 1040.0: 1,
 1041.0: 1,
 1042.0: 1,
 1044.0: 1,
 1046.0: 1,
 1047.0: 1,
 1048.0: 1,
 1049.0: 1,
 1050.0: 1,
 175.0: 1,
 1052.0: 1,
 1053.0: 1,
 1054.0: 1,
 1056.0: 1,
 1058.0: 1,
 1059.0: 1,
 1060.0: 1,
 1062.0: 1,
 1067.0: 0,
 1068.0: 1,
 1069.0: 0,
 1072.0: 1,
 1073.0: 1,
 1076.0: 1,
 1077.0: 1,
 66614.0: 0,
 66615.0: 1,
 1084.0: 1,
 1086.0: 1,
 1087.0: 0,
 1088.0: 1,
 1091.0: 1,
 1092.0: 1,
 1093.0: 1,
 1095.0: 1,
 1096.0: 1,
 1097.0: 0,
 1098.0: 1,
 183.0: 1,
 1101.0: 1,
 1102.0: 1,
 1103.0: 1,
 1104.0: 0,
 66641.0: 1,
 1106.0: 1,
 1107.0: 1,
 1108.0: 1,
 1109.0: 1,
 1110.0: 0,
 1112.0: 0,
 66649.0: 1,
 1114.0: 1,
 1115.0: 1,
 1116.0: 1,
 1117.0: 1,
 66654.0: 1,
 1119.0: 0,
 1120.0: 1,
 1121.0: 1,
 1122.0: 1,
 1123.0: 1,
 1124.0: 1,
 1125.0: 1,
 66662.0: 1,
 1127.0: 1,
 1131.0: 1,
 1133.0: 1,
 1134.0: 1,
 1135.0: 1,
 1136.0: 1,
 1137.0: 1,
 66674.0: 1,
 1139.0: 1,
 1141.0: 1,
 1144.0: 1,
 66682.0: 0,
 65727.0: 0,
 1148.0: 1,
 1151.0: 1,
 66688.0: 1,
 66690.0: 1,
 66692.0: 1,
 1158.0: 1,
 1159.0: 1,
 66696.0: 1,
 1161.0: 0,
 1163.0: 1,
 1164.0: 1,
 1165.0: 1,
 1166.0: 1,
 1167.0: 1,
 1168.0: 1,
 1169.0: 1,
 1170.0: 0,
 1173.0: 1,
 1174.0: 1,
 66711.0: 1,
 66714.0: 1,
 86965.0: 1,
 1180.0: 1,
 66717.0: 1,
 66718.0: 0,
 1183.0: 1,
 1184.0: 1,
 1186.0: 1,
 66723.0: 0,
 1192.0: 1,
 1193.0: 1,
 1194.0: 0,
 1195.0: 1,
 1196.0: 1,
 1197.0: 1,
 1199.0: 1,
 66736.0: 1,
 1203.0: 1,
 1205.0: 1,
 1206.0: 1,
 1208.0: 1,
 1209.0: 1,
 1212.0: 1,
 1213.0: 1,
 1214.0: 0,
 1215.0: 1,
 68094.0: 0,
 1217.0: 1,
 66756.0: 0,
 98209.0: 1,
 1222.0: 1,
 1223.0: 0,
 1224.0: 1,
 66761.0: 1,
 1228.0: 1,
 66765.0: 1,
 1230.0: 0,
 1231.0: 1,
 1232.0: 1,
 1234.0: 1,
 1236.0: 1,
 66774.0: 0,
 66775.0: 1,
 1241.0: 1,
 66780.0: 1,
 1247.0: 0,
 66785.0: 1,
 66786.0: 1,
 1251.0: 1,
 1252.0: 0,
 1253.0: 1,
 1254.0: 1,
 1255.0: 1,
 1256.0: 1,
 1257.0: 1,
 1258.0: 1,
 1259.0: 1,
 1260.0: 1,
 1262.0: 1,
 1263.0: 1,
 1265.0: 1,
 1266.0: 1,
 1267.0: 1,
 1268.0: 1,
 11134.0: 0,
 1270.0: 0,
 1271.0: 0,
 1272.0: 1,
 66811.0: 1,
 1278.0: 1,
 1279.0: 1,
 13136.0: 1,
 1281.0: 1,
 1282.0: 1,
 1283.0: 0,
 65750.0: 1,
 1286.0: 0,
 66823.0: 1,
 66824.0: 0,
 1289.0: 1,
 1290.0: 1,
 66827.0: 1,
 1293.0: 0,
 1295.0: 0,
 1297.0: 0,
 1299.0: 1,
 1301.0: 1,
 65753.0: 1,
 1304.0: 1,
 1305.0: 0,
 66842.0: 0,
 1309.0: 1,
 1311.0: 1,
 1313.0: 1,
 1314.0: 1,
 66851.0: 1,
 1320.0: 1,
 66859.0: 1,
 1325.0: 0,
 1327.0: 1,
 1329.0: 1,
 1331.0: 1,
 1332.0: 1,
 1333.0: 1,
 1334.0: 0,
 66871.0: 1,
 1337.0: 1,
 1338.0: 1,
 65759.0: 1,
 66876.0: 1,
 1342.0: 1,
 1343.0: 0,
 1344.0: 1,
 65760.0: 0,
 1346.0: 1,
 1347.0: 1,
 1348.0: 1,
 1349.0: 1,
 1350.0: 1,
 1351.0: 1,
 66888.0: 1,
 1353.0: 1,
 1354.0: 1,
 66891.0: 1,
 1356.0: 1,
 65762.0: 1,
 66894.0: 1,
 66899.0: 1,
 66900.0: 1,
 1367.0: 1,
 1368.0: 1,
 1369.0: 1,
 1371.0: 0,
 1372.0: 1,
 1377.0: 1,
 1380.0: 1,
 1381.0: 0,
 66919.0: 1,
 1385.0: 1,
 1386.0: 1,
 1387.0: 1,
 1389.0: 1,
 66929.0: 1,
 1395.0: 1,
 1397.0: 1,
 1398.0: 1,
 66936.0: 1,
 1401.0: 1,
 1403.0: 1,
 1404.0: 1,
 1406.0: 1,
 1407.0: 0,
 1408.0: 1,
 1409.0: 1,
 1410.0: 1,
 66947.0: 1,
 1414.0: 1,
 66953.0: 1,
 1418.0: 1,
 1419.0: 1,
 1420.0: 1,
 66957.0: 1,
 66958.0: 1,
 1423.0: 1,
 11160.0: 0,
 1426.0: 0,
 1427.0: 1,
 1428.0: 1,
 66965.0: 1,
 1430.0: 1,
 1433.0: 1,
 1436.0: 1,
 66973.0: 1,
 66974.0: 1,
 1439.0: 0,
 1440.0: 1,
 1441.0: 1,
 1442.0: 1,
 1443.0: 1,
 66983.0: 1,
 1449.0: 1,
 66988.0: 1,
 1453.0: 1,
 1456.0: 1,
 1459.0: 1,
 1462.0: 0,
 1463.0: 1,
 1469.0: 1,
 1470.0: 1,
 1472.0: 1,
 1476.0: 1,
 1477.0: 1,
 1478.0: 1,
 1479.0: 1,
 67017.0: 1,
 1485.0: 1,
 1486.0: 1,
 1488.0: 1,
 67025.0: 1,
 1491.0: 1,
 1493.0: 1,
 1494.0: 1,
 1496.0: 1,
 1497.0: 1,
 1498.0: 1,
 22095.0: 1,
 67037.0: 1,
 1502.0: 1,
 1503.0: 1,
 67040.0: 1,
 67041.0: 1,
 1509.0: 1,
 67050.0: 1,
 1515.0: 1,
 1516.0: 1,
 67053.0: 1,
 67054.0: 1,
 1521.0: 1,
 1524.0: 1,
 67061.0: 1,
 1527.0: 1,
 1528.0: 1,
 1530.0: 0,
 1531.0: 1,
 67069.0: 1,
 ...}

In [66]:
subject_icu_df = pd.DataFrame(list(subject_icu_binary_dict.items()), columns=["SUBJECT_ID", "ICU_STAY"])
subject_details = pd.merge(subject_details, subject_icu_df, on="SUBJECT_ID", how='left')
subject_details.head()

,SUBJECT_ID,GENDER,EXPIRE_FLAG,TOTAL_NARCOTIC_PRESCRIPTONS,TOTAL_ANTI_NARCOTIC_PRESCRIPTONS,NARCOTIC,ANTI-NARCOTIC,ICU_STAY
0,249,0,0,8.0,0.0,1,0,1
1,250,0,1,6.0,0.0,1,0,1
2,252,1,0,4.0,0.0,1,0,1
3,255,1,0,2.0,0.0,1,0,0
4,256,1,0,22.0,0.0,1,0,1

In [67]:
'''subject_details.fillna(0, inplace=True)
subject_details["ICU_STAY"] = np.where(subject_details["ICUSTAY_ID"] > 0, 1, 0)
len(subject_details[subject_details["ICU_STAY"] == 0])'''
len(subject_details)

29991

In [68]:
#subject_details.drop(["ICUSTAY_ID"], axis=1, inplace=True)
subject_details.head()

,SUBJECT_ID,GENDER,EXPIRE_FLAG,TOTAL_NARCOTIC_PRESCRIPTONS,TOTAL_ANTI_NARCOTIC_PRESCRIPTONS,NARCOTIC,ANTI-NARCOTIC,ICU_STAY
0,249,0,0,8.0,0.0,1,0,1
1,250,0,1,6.0,0.0,1,0,1
2,252,1,0,4.0,0.0,1,0,1
3,255,1,0,2.0,0.0,1,0,0
4,256,1,0,22.0,0.0,1,0,1

### Count For Each Drug

In [33]:
both_drugs

['oxymorphone',
 'oxycodone',
 'morphine',
 'meperidine',
 'hydromorphone',
 'hydrocodone',
 'fentanyl',
 'codeine',
 'buprenorphine',
 'levorphanol',
 'methadone',
 'methadone',
 'naloxone',
 'nalorphine']

In [35]:
oxymorphone_df = narcotic_subject_df[narcotic_subject_df["DRUG"].str.contains("oxymorphone")]
print("oxymorphone: %i" %len(oxymorphone_df))
oxymorphone_df = oxymorphone_df.groupby('SUBJECT_ID').apply(lambda row: row[["NO_OF_DAYS_PRESCRIBED"]].apply(lambda y: y.sum()))
oxymorphone_df = oxymorphone_df["NO_OF_DAYS_PRESCRIBED"]
oxymorphone_df.to_csv("oxymorphone_df.csv")
oxymorphone_df = pd.read_csv("oxymorphone_df.csv", header=None)
oxymorphone_df.columns=["SUBJECT_ID", "OXYMORPHONE"]
oxymorphone_df.to_csv("oxymorphone_df.csv")
oxymorphone_df.head()

oxymorphone: 4

   SUBJECT_ID  OXYMORPHONE
0     69650.0          8.0

In [36]:
oxycodone_df = narcotic_subject_df[narcotic_subject_df["DRUG"].str.contains("oxycodone")]
print("oxycodone: %i" %len(oxycodone_df))
oxycodone_df = oxycodone_df.groupby('SUBJECT_ID').apply(lambda row: row[["NO_OF_DAYS_PRESCRIBED"]].apply(lambda y: y.sum()))
oxycodone_df = oxycodone_df["NO_OF_DAYS_PRESCRIBED"]
oxycodone_df.to_csv("oxycodone_df.csv")
oxycodone_df = pd.read_csv("oxycodone_df.csv", header=None)
oxycodone_df.columns=["SUBJECT_ID", "OXYCODONE"]
oxycodone_df.to_csv("oxycodone_df.csv")
oxycodone_df.head()

oxycodone: 44538

   SUBJECT_ID  OXYCODONE
0         6.0       15.0
1        11.0       30.0
2        13.0        8.0
3        17.0       11.0
4        20.0        7.0

In [37]:
morphine_df = narcotic_subject_df[narcotic_subject_df["DRUG"].str.contains("morphine")]
print("morphine: %i" %len(morphine_df))
morphine_df = morphine_df.groupby('SUBJECT_ID').apply(lambda row: row[["NO_OF_DAYS_PRESCRIBED"]].apply(lambda y: y.sum()))
morphine_df = morphine_df["NO_OF_DAYS_PRESCRIBED"]
morphine_df.to_csv("morphine_df.csv")
morphine_df = pd.read_csv("morphine_df.csv", header=None)
morphine_df.columns=["SUBJECT_ID", "MORPHINE"]
morphine_df.to_csv("morphine_df.csv")
morphine_df.head()

morphine: 68045

   SUBJECT_ID  MORPHINE
0         6.0      11.0
1        11.0       1.0
2        12.0       8.0
3        13.0       4.0
4        17.0       9.0

In [38]:
meperidine_df = narcotic_subject_df[narcotic_subject_df["DRUG"].str.contains("meperidine")]
print("meperidine: %i" %len(meperidine_df))
meperidine_df = meperidine_df.groupby('SUBJECT_ID').apply(lambda row: row[["NO_OF_DAYS_PRESCRIBED"]].apply(lambda y: y.sum()))
meperidine_df = meperidine_df["NO_OF_DAYS_PRESCRIBED"]
meperidine_df.to_csv("meperidine_df.csv")
meperidine_df = pd.read_csv("meperidine_df.csv", header=None)
meperidine_df.columns=["SUBJECT_ID", "MEPERIDINE"]
meperidine_df.to_csv("meperidine_df.csv")
meperidine_df.head()

meperidine: 6622

   SUBJECT_ID  MEPERIDINE
0        11.0         1.0
1        13.0         4.0
2        17.0         5.0
3        20.0         2.0
4        23.0         4.0

In [39]:
hydromorphone_df = narcotic_subject_df[narcotic_subject_df["DRUG"].str.contains("hydromorphone")]
print("hydromorphone: %i" %len(hydromorphone_df))
hydromorphone_df = hydromorphone_df.groupby('SUBJECT_ID').apply(lambda row: row[["NO_OF_DAYS_PRESCRIBED"]].apply(lambda y: y.sum()))
hydromorphone_df = hydromorphone_df["NO_OF_DAYS_PRESCRIBED"]
hydromorphone_df.to_csv("hydromorphone_df.csv")
hydromorphone_df = pd.read_csv("hydromorphone_df.csv", header=None)
hydromorphone_df.columns=["SUBJECT_ID", "HYDROMORPHONE"]
hydromorphone_df.to_csv("hydromorphone_df.csv")
hydromorphone_df.head()

hydromorphone: 53202

   SUBJECT_ID  HYDROMORPHONE
0         6.0            5.0
1        11.0           19.0
2        17.0            8.0
3        21.0           16.0
4        36.0           10.0

In [40]:
hydrocodone_df = narcotic_subject_df[narcotic_subject_df["DRUG"].str.contains("hydrocodone")]
print("hydrocodone: %i" %len(hydrocodone_df))
hydrocodone_df = hydrocodone_df.groupby('SUBJECT_ID').apply(lambda row: row[["NO_OF_DAYS_PRESCRIBED"]].apply(lambda y: y.sum()))
hydrocodone_df = hydrocodone_df["NO_OF_DAYS_PRESCRIBED"]
hydrocodone_df.to_csv("hydrocodone_df.csv")
hydrocodone_df = pd.read_csv("hydrocodone_df.csv", header=None)
hydrocodone_df.columns=["SUBJECT_ID", "HYDROCODONE"]
hydrocodone_df.to_csv("hydrocodone_df.csv")
hydrocodone_df.head()

hydrocodone: 1998

   SUBJECT_ID  HYDROCODONE
0       109.0          4.0
1       178.0          3.0
2       335.0          2.0
3       352.0          5.0
4       402.0         36.0

In [42]:
fentanyl_df = narcotic_subject_df[narcotic_subject_df["DRUG"].str.contains("fentanyl")]
print("fentanyl: %i" %len(fentanyl_df))
fentanyl_df = fentanyl_df.groupby('SUBJECT_ID').apply(lambda row: row[["NO_OF_DAYS_PRESCRIBED"]].apply(lambda y: y.sum()))
fentanyl_df = fentanyl_df["NO_OF_DAYS_PRESCRIBED"]
fentanyl_df.to_csv("fentanyl_df.csv")
fentanyl_df = pd.read_csv("fentanyl_df.csv", header=None)
fentanyl_df.columns=["SUBJECT_ID", "FENTANYL"]
fentanyl_df.to_csv("fentanyl_df.csv")
fentanyl_df.head()

fentanyl: 35734

   SUBJECT_ID  FENTANYL
0        12.0       6.0
1        24.0       1.0
2        34.0       1.0
3        36.0      14.0
4        38.0      23.0

In [43]:
codeine_df = narcotic_subject_df[narcotic_subject_df["DRUG"].str.contains("codeine")]
print("codeine: %i" %len(codeine_df))
codeine_df = codeine_df.groupby('SUBJECT_ID').apply(lambda row: row[["NO_OF_DAYS_PRESCRIBED"]].apply(lambda y: y.sum()))
codeine_df = codeine_df["NO_OF_DAYS_PRESCRIBED"]
codeine_df.to_csv("codeine_df.csv")
codeine_df = pd.read_csv("codeine_df.csv", header=None)
codeine_df.columns=["SUBJECT_ID", "CODEINE"]
codeine_df.to_csv("codeine_df.csv")
codeine_df.head()

codeine: 2356

   SUBJECT_ID  CODEINE
0         4.0      8.0
1        85.0      6.0
2       103.0      3.0
3       111.0      4.0
4       165.0      2.0

In [45]:
buprenorphine_df = narcotic_subject_df[narcotic_subject_df["DRUG"].str.contains("buprenorphine")]
print("buprenorphine_df: %i" %len(buprenorphine_df))
buprenorphine_df = buprenorphine_df.groupby('SUBJECT_ID').apply(lambda row: row[["NO_OF_DAYS_PRESCRIBED"]].apply(lambda y: y.sum()))
buprenorphine_df = buprenorphine_df["NO_OF_DAYS_PRESCRIBED"]
buprenorphine_df.to_csv("buprenorphine_df.csv")
buprenorphine_df = pd.read_csv("buprenorphine_df.csv", header=None)
buprenorphine_df.columns=["SUBJECT_ID", "BUPRENORPHINE"]
buprenorphine_df.to_csv("buprenorphine_df.csv")
buprenorphine_df.head()

buprenorphine_df: 50

   SUBJECT_ID  BUPRENORPHINE
0     14779.0           15.0
1     19412.0           39.0
2     22424.0            4.0
3     25876.0           10.0
4     26027.0            8.0

In [52]:
methadone_df = narcotic_subject_df[narcotic_subject_df["DRUG"].str.contains("methadone")]
print("methadone: %i" %len(methadone_df))
methadone_df = methadone_df.groupby('SUBJECT_ID').apply(lambda row: row[["NO_OF_DAYS_PRESCRIBED"]].apply(lambda y: y.sum()))
methadone_df = methadone_df["NO_OF_DAYS_PRESCRIBED"]
methadone_df.to_csv("methadone_df.csv")
methadone_df = pd.read_csv("methadone_df.csv", header=None)
methadone_df.columns=["SUBJECT_ID", "METHADONE"]
methadone_df.to_csv("methadone_df.csv")
methadone_df.head()

methadone: 4398

   SUBJECT_ID  METHADONE
0        64.0       13.0
1        78.0       13.0
2       124.0        8.0
3       135.0       15.0
4       143.0       43.0

In [48]:
levorphanol_df = narcotic_subject_df[narcotic_subject_df["DRUG"].str.contains("levorphanol")]
print("levorphanol: %i" %len(levorphanol_df))
'''levorphanol_df = levorphanol_df.groupby('SUBJECT_ID').apply(lambda row: row[["NO_OF_DAYS_PRESCRIBED"]].apply(lambda y: y.sum()))
levorphanol_df = levorphanol_df["NO_OF_DAYS_PRESCRIBED"]
levorphanol_df.to_csv("levorphanol_df.csv")
levorphanol_df = pd.read_csv("levorphanol_df.csv", header=None)
levorphanol_df.columns=["SUBJECT_ID", "LEVORPHANOL"]
levorphanol_df.to_csv("levorphanol_df.csv")
levorphanol_df.head()'''

levorphanol: 0

'levorphanol_df = levorphanol_df.groupby(\'SUBJECT_ID\').apply(lambda row: row[["NO_OF_DAYS_PRESCRIBED"]].apply(lambda y: y.sum()))\nlevorphanol_df = levorphanol_df["NO_OF_DAYS_PRESCRIBED"]\nlevorphanol_df.to_csv("levorphanol_df.csv")\nlevorphanol_df = pd.read_csv("levorphanol_df.csv", header=None)\nlevorphanol_df.columns=["SUBJECT_ID", "LEVORPHANOL"]\nlevorphanol_df.to_csv("levorphanol_df.csv")\nlevorphanol_df.head()'

In [49]:
naloxone_df = anti_narcotic_subject_df[anti_narcotic_subject_df["DRUG"].str.contains("naloxone")]
print("naloxone: %i" %len(naloxone_df))
naloxone_df = naloxone_df.groupby('SUBJECT_ID').apply(lambda row: row[["NO_OF_DAYS_PRESCRIBED"]].apply(lambda y: y.sum()))
naloxone_df = naloxone_df["NO_OF_DAYS_PRESCRIBED"]
naloxone_df.to_csv("naloxone_df.csv")
naloxone_df = pd.read_csv("naloxone_df.csv", header=None)
naloxone_df.columns=["SUBJECT_ID", "NALOXONE"]
naloxone_df.to_csv("naloxone_df.csv")
naloxone_df.head()

naloxone: 1274

   SUBJECT_ID  NALOXONE
0        36.0       2.0
1        78.0      10.0
2        94.0       3.0
3       109.0       7.0
4       135.0       3.0

In [51]:
nalorphine_df = anti_narcotic_subject_df[anti_narcotic_subject_df["DRUG"].str.contains("nalorphine")]
print("nalorphine: %i" %len(nalorphine_df))
'''nalorphine_df = nalorphine_df.groupby('SUBJECT_ID').apply(lambda row: row[["NO_OF_DAYS_PRESCRIBED"]].apply(lambda y: y.sum()))
nalorphine_df = nalorphine_df["NO_OF_DAYS_PRESCRIBED"]
nalorphine_df.to_csv("nalorphine_df.csv")
nalorphine_df = pd.read_csv("nalorphine_df.csv", header=None)
nalorphine_df.columns=["SUBJECT_ID", "NALORPHINE"]
nalorphine_df.to_csv("nalorphine_df.csv")
nalorphine_df.head()'''

nalorphine: 0

'nalorphine_df = nalorphine_df.groupby(\'SUBJECT_ID\').apply(lambda row: row[["NO_OF_DAYS_PRESCRIBED"]].apply(lambda y: y.sum()))\nnalorphine_df = nalorphine_df["NO_OF_DAYS_PRESCRIBED"]\nnalorphine_df.to_csv("nalorphine_df.csv")\nnalorphine_df = pd.read_csv("nalorphine_df.csv", header=None)\nnalorphine_df.columns=["SUBJECT_ID", "NALORPHINE"]\nnalorphine_df.to_csv("nalorphine_df.csv")\nnalorphine_df.head()'

In [69]:
subject_details = pd.merge(subject_details, oxymorphone_df, on="SUBJECT_ID", how='left')
subject_details = pd.merge(subject_details, oxycodone_df, on="SUBJECT_ID", how='left')
subject_details = pd.merge(subject_details, morphine_df, on="SUBJECT_ID", how='left')
subject_details = pd.merge(subject_details, meperidine_df, on="SUBJECT_ID", how='left')
subject_details = pd.merge(subject_details, hydromorphone_df, on="SUBJECT_ID", how='left')
subject_details = pd.merge(subject_details, hydrocodone_df, on="SUBJECT_ID", how='left')
subject_details = pd.merge(subject_details, fentanyl_df, on="SUBJECT_ID", how='left')
subject_details = pd.merge(subject_details, codeine_df, on="SUBJECT_ID", how='left')
subject_details = pd.merge(subject_details, buprenorphine_df, on="SUBJECT_ID", how='left')
#subject_details = pd.merge(subject_details, levorphanol_df, on="SUBJECT_ID", how='left')
subject_details = pd.merge(subject_details, methadone_df, on="SUBJECT_ID", how='left')
subject_details = pd.merge(subject_details, naloxone_df, on="SUBJECT_ID", how='left')
#subject_details = pd.merge(subject_details, nalorphine_df, on="SUBJECT_ID", how='left')
subject_details.head()

,SUBJECT_ID,GENDER,EXPIRE_FLAG,TOTAL_NARCOTIC_PRESCRIPTONS,TOTAL_ANTI_NARCOTIC_PRESCRIPTONS,NARCOTIC,ANTI-NARCOTIC,ICU_STAY,OXYMORPHONE,OXYCODONE,MORPHINE,MEPERIDINE,HYDROMORPHONE,HYDROCODONE,FENTANYL,CODEINE,BUPRENORPHINE,METHADONE,NALOXONE
0,249,0,0,8.0,0.0,1,0,1,NaN,4.0,17.0,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN
1,250,0,1,6.0,0.0,1,0,1,NaN,NaN,2.0,NaN,NaN,NaN,15.0,NaN,NaN,NaN,NaN
2,252,1,0,4.0,0.0,1,0,1,NaN,NaN,NaN,2.0,NaN,NaN,14.0,NaN,NaN,NaN,NaN
3,255,1,0,2.0,0.0,1,0,0,NaN,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,256,1,0,22.0,0.0,1,0,1,NaN,31.0,4.0,NaN,5.0,NaN,9.0,NaN,NaN,NaN,NaN

In [71]:
subject_details.fillna(0, inplace=True)
subject_details.isnull().sum()

SUBJECT_ID                          0
GENDER                              0
EXPIRE_FLAG                         0
TOTAL_NARCOTIC_PRESCRIPTONS         0
TOTAL_ANTI_NARCOTIC_PRESCRIPTONS    0
NARCOTIC                            0
ANTI-NARCOTIC                       0
ICU_STAY                            0
OXYMORPHONE                         0
OXYCODONE                           0
MORPHINE                            0
MEPERIDINE                          0
HYDROMORPHONE                       0
HYDROCODONE                         0
FENTANYL                            0
CODEINE                             0
BUPRENORPHINE                       0
METHADONE                           0
NALOXONE                            0
dtype: int64

In [73]:
subject_details

,SUBJECT_ID,GENDER,EXPIRE_FLAG,TOTAL_NARCOTIC_PRESCRIPTONS,TOTAL_ANTI_NARCOTIC_PRESCRIPTONS,NARCOTIC,ANTI-NARCOTIC,ICU_STAY,OXYMORPHONE,OXYCODONE,MORPHINE,MEPERIDINE,HYDROMORPHONE,HYDROCODONE,FENTANYL,CODEINE,BUPRENORPHINE,METHADONE,NALOXONE
0,249,0,0,8.0,0.0,1,0,1,0.0,4.0,17.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0
1,250,0,1,6.0,0.0,1,0,1,0.0,0.0,2.0,0.0,0.0,0.0,15.0,0.0,0.0,0.0,0.0
2,252,1,0,4.0,0.0,1,0,1,0.0,0.0,0.0,2.0,0.0,0.0,14.0,0.0,0.0,0.0,0.0
3,255,1,0,2.0,0.0,1,0,0,0.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,256,1,0,22.0,0.0,1,0,1,0.0,31.0,4.0,0.0,5.0,0.0,9.0,0.0,0.0,0.0,0.0
5,262,1,0,2.0,0.0,1,0,1,0.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,263,1,1,3.0,0.0,1,0,1,0.0,5.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,265,1,0,7.0,0.0,1,0,1,0.0,8.0,10.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,266,0,0,1.0,0.0,1,0,0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,267,0,0,11.0,0.0,1,0,1,0.0,1.0,2.0,0.0,19.0,0.0,7.0,0.0,0.0,0.0,0.0
10,268,0,1,4.0,0.0,1,0,1,0.0,7.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
11,269,1,0,23.0,0.0,1,0,1,0.0,34.0,37.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0
12,270,1,0,2.0,0.0,1,0,1,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,665,1,1,23.0,0.0,1,0,1,0.0,0.0,66.0,0.0,24.0,0.0,18.0,0.0,0.0,0.0,0.0
14,667,0,0,4.0,0.0,1,0,1,0.0,0.0,3.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0
15,668,0,1,3.0,0.0,1,0,1,0.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,671,1,0,15.0,0.0,1,0,1,0.0,2.0,2.0,0.0,32.0,2.0,2.0,0.0,0.0,0.0,0.0
17,674,0,1,6.0,0.0,1,0,1,0.0,0.0,8.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
18,676,1,0,2.0,0.0,1,0,1,0.0,3.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
19,677,1,0,1.0,0.0,1,0,1,0.0,0.0,32.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,678,0,0,8.0,0.0,1,0,1,0.0,11.0,15.0,3.0,0.0,4.0,0.0,2.0,0.0,0.0,0.0
21,679,0,1,3.0,0.0,1,0,1,0.0,7.0,0.0,0.0,2.0,0.0,5.0,0.0,0.0,0.0,0.0
22,680,0,0,1.0,0.0,1,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
23,682,0,1,2.0,0.0,1,0,1,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,688,1,0,1.0,0.0,1,0,0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
25,689,0,0,50.0,19.0,1,1,1,0.0,11.0,18.0,0.0,27.0,0.0,0.0,0.0,0.0,93.0,4.0
26,690,1,1,7.0,0.0,1,0,1,0.0,0.0,0.0,0.0,10.0,0.0,2.0,0.0,0.0,0.0,0.0
27,697,1,0,13.0,0.0,1,0,1,0.0,1.0,4.0,0.0,23.0,0.0,6.0,0.0,0.0,0.0,0.0
28,698,0,1,1.0,0.0,1,0,1,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,700,1,1,1.0,0.0,1,0,1,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29961,43971,1,0,1.0,0.0,1,0,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29962,43975,1,0,10.0,0.0,1,0,1,0.0,8.0,2.0,2.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0
29963,43982,0,0,4.0,0.0,1,0,1,0.0,3.0,4.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0
29964,43990,0,1,5.0,0.0,1,0,1,0.0,0.0,2.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
29965,43991,1,0,5.0,0.0,1,0,1,0.0,7.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29966,43995,1,0,4.0,0.0,1,0,1,0.0,7.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29967,44002,0,0,9.0,0.0,1,0,1,0.0,16.0,0.0,0.0,0.0,0.0,16.0,4.0,0.0,0.0,0.0
29968,44016,1,0,15.0,7.0,1,1,1,0.0,0.0,3.0,0.0,9.0,0.0,0.0,0.0,0.0,18.0,0.0
29969,44018,0,1,25.0,0.0,1,0,1,0.0,10.0,30.0,0.0,20.0,0.0,5.0,0.0,0.0,0.0,0.0
29970,44019,0,1,3.0,0.0,1,0,1,0.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
29971,44023,1,0,6.0,0.0,1,0,1,0.0,7.0,4.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
29972,44035,0,0,5.0,0.0,1,0,1,0.0,0.0,0.0,0.0,16.0,0.0,11.0,0.0,0.0,0.0,0.0
29973,44036,0,0,3.0,0.0,1,0,1,0.0,7.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0
29974,44052,1,0,5.0,0.0,1,0,1,0.0,8.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29975,44058,1,1,1.0,0.0,1,0,1,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29976,44059,0,1,3.0,0.0,1,0,1,0.0,0.0,0.0,0.0,0.0,0.0,16.0,0.0,0.0,0.0,0.0
29977,44061,1,0,11.0,0.0,1,0,1,0.0,6.0,6.0,0.0,11.0,0.0,2.0,0.0,0.0,0.0,0.0
29978,44064,1,0,8.0,0.0,1,0,1,0.0,4.0,9.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0
29979,44065,1,0,7.0,0.0,1,0,1,0.0,7.0,3.0,0.0,3.0,0.0,4.0,0.0,0.0,0.0,0.0
29980,44069,1,0,4.0,0.0,1,0,1,0.0,6.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29981,44071,1,0,4.0,0.0,1,0,1,0.0,0.0,3.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
29982,44073,0,0,4.0,0.0,1,0,1,0.0,8.0,5.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29983,44082,0,0,1.0,0.0,1,0,1,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29984,44083,1,1,16.0,0.0,1,0,1,0.0,6.0,10.0,0.0,23.0,0.0,0.0,0.0,0.0,0.0,0.0
29985,44084,0,0,5.0,0.0,1,0,1,0.0,7.0,4.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29986,44089,1,0,1.0,0.0,1,0,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29987,44115,0,0,14.0,0.0,1,0,1,0.0,7.0,0.0,0.0,13.0,0.0,0.0,0.0,0.0,0.0,0.0
29988,44123,0,1,3.0,0.0,1,0,1,0.0,0.0,0.0,0.0,4.0,0.0,6.0,0.0,0.0,0.0,0.0
29989,44126,0,0,18.0,0.0,1,0,1,0.0,5.0,0.0,0.0,29.0,0.0,3.0,0.0,0.0,0.0,0.0
29990,44128,1,0,8.0,0.0,1,0,1,0.0,5.0,12.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0

In [84]:
check_subjects = set(narcotic_subject_df["SUBJECT_ID"]).union(set(anti_narcotic_subject_df["SUBJECT_ID"]))
check = check_subjects.intersection(subjects_with_effects)
len(check)

749

In [85]:
subjects_with_effects_dict = dict()
for subject in subjects_with_effects:
    subjects_with_effects_dict[subject] = 1
subjects_with_effects_df = pd.DataFrame(list(subjects_with_effects_dict.items()), columns=["SUBJECT_ID", "SIDE_EFFECTS_FLAG"])
subjects_with_effects_df.head()

   SUBJECT_ID  SIDE_EFFECTS_FLAG
0       25259                  1
1       10246                  1
2       63496                  1
3        6828                  1
4       23895                  1

In [90]:
subject_details = pd.merge(subject_details, subjects_with_effects_df, on="SUBJECT_ID", how='left')
subject_details.head()

,SUBJECT_ID,GENDER,EXPIRE_FLAG,TOTAL_NARCOTIC_PRESCRIPTONS,TOTAL_ANTI_NARCOTIC_PRESCRIPTONS,NARCOTIC,ANTI-NARCOTIC,ICU_STAY,OXYMORPHONE,OXYCODONE,MORPHINE,MEPERIDINE,HYDROMORPHONE,HYDROCODONE,FENTANYL,CODEINE,BUPRENORPHINE,METHADONE,NALOXONE,SIDE_EFFECTS_FLAG
0,249,0,0,8.0,0.0,1,0,1,0.0,4.0,17.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,250,0,1,6.0,0.0,1,0,1,0.0,0.0,2.0,0.0,0.0,0.0,15.0,0.0,0.0,0.0,0.0,NaN
2,252,1,0,4.0,0.0,1,0,1,0.0,0.0,0.0,2.0,0.0,0.0,14.0,0.0,0.0,0.0,0.0,NaN
3,255,1,0,2.0,0.0,1,0,0,0.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,256,1,0,22.0,0.0,1,0,1,0.0,31.0,4.0,0.0,5.0,0.0,9.0,0.0,0.0,0.0,0.0,NaN

In [92]:
#len(subject_details[subject_details["SIDE_EFFECTS_FLAG"] == 1])
subject_details.isnull().sum()
subject_details.fillna(0, inplace=True)

In [93]:
#subject_details.drop(["SIDE_EFFECTS_FLAG"], axis=1, inplace=True)
subject_details.head()

,SUBJECT_ID,GENDER,EXPIRE_FLAG,TOTAL_NARCOTIC_PRESCRIPTONS,TOTAL_ANTI_NARCOTIC_PRESCRIPTONS,NARCOTIC,ANTI-NARCOTIC,ICU_STAY,OXYMORPHONE,OXYCODONE,MORPHINE,MEPERIDINE,HYDROMORPHONE,HYDROCODONE,FENTANYL,CODEINE,BUPRENORPHINE,METHADONE,NALOXONE,SIDE_EFFECTS_FLAG
0,249,0,0,8.0,0.0,1,0,1,0.0,4.0,17.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,250,0,1,6.0,0.0,1,0,1,0.0,0.0,2.0,0.0,0.0,0.0,15.0,0.0,0.0,0.0,0.0,0.0
2,252,1,0,4.0,0.0,1,0,1,0.0,0.0,0.0,2.0,0.0,0.0,14.0,0.0,0.0,0.0,0.0,0.0
3,255,1,0,2.0,0.0,1,0,0,0.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,256,1,0,22.0,0.0,1,0,1,0.0,31.0,4.0,0.0,5.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0

In [94]:
len(subject_details[subject_details["SIDE_EFFECTS_FLAG"]==1])

749

In [96]:
subject_details = pd.merge(subject_details, subjects_age_df, on="SUBJECT_ID", how='left')
print(len(subject_details))
subject_details.head()

29991

,SUBJECT_ID,GENDER,EXPIRE_FLAG,TOTAL_NARCOTIC_PRESCRIPTONS,TOTAL_ANTI_NARCOTIC_PRESCRIPTONS,NARCOTIC,ANTI-NARCOTIC,ICU_STAY,OXYMORPHONE,OXYCODONE,...,MEPERIDINE,HYDROMORPHONE,HYDROCODONE,FENTANYL,CODEINE,BUPRENORPHINE,METHADONE,NALOXONE,SIDE_EFFECTS_FLAG,AGE
0,249,0,0,8.0,0.0,1,0,1,0.0,4.0,...,0.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,81.0
1,250,0,1,6.0,0.0,1,0,1,0.0,0.0,...,0.0,0.0,0.0,15.0,0.0,0.0,0.0,0.0,0.0,23.0
2,252,1,0,4.0,0.0,1,0,1,0.0,0.0,...,2.0,0.0,0.0,14.0,0.0,0.0,0.0,0.0,0.0,55.0
3,255,1,0,2.0,0.0,1,0,0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,77.0
4,256,1,0,22.0,0.0,1,0,1,0.0,31.0,...,0.0,5.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,84.0

In [97]:
with open('../Data/Opioids/Model_Data/subject_details.pickle', 'wb') as pickler:
    pickle.dump(subject_details, pickler, protocol=pickle.HIGHEST_PROTOCOL)

In [3]:
with open('../Data/Opioids/Model_Data/subject_details.pickle', 'rb') as pickler:
    subject_details = pickle.load(pickler)

In [4]:
subject_details["AGE_1"] = 0
subject_details["AGE_2"] = 0
subject_details["AGE_3"] = 0
subject_details["AGE_4"] = 0
subject_details["AGE_5"] = 0
subject_details["AGE_6"] = 0
subject_details["AGE_7"] = 0
subject_details["AGE_8"] = 0

In [5]:
subject_details.head()

,SUBJECT_ID,GENDER,EXPIRE_FLAG,TOTAL_NARCOTIC_PRESCRIPTONS,TOTAL_ANTI_NARCOTIC_PRESCRIPTONS,NARCOTIC,ANTI-NARCOTIC,ICU_STAY,OXYMORPHONE,OXYCODONE,...,SIDE_EFFECTS_FLAG,AGE,AGE_1,AGE_2,AGE_3,AGE_4,AGE_5,AGE_6,AGE_7,AGE_8
0,249,0,0,8.0,0.0,1,0,1,0.0,4.0,...,0.0,81.0,0,0,0,0,0,0,0,0
1,250,0,1,6.0,0.0,1,0,1,0.0,0.0,...,0.0,23.0,0,0,0,0,0,0,0,0
2,252,1,0,4.0,0.0,1,0,1,0.0,0.0,...,0.0,55.0,0,0,0,0,0,0,0,0
3,255,1,0,2.0,0.0,1,0,0,0.0,4.0,...,0.0,77.0,0,0,0,0,0,0,0,0
4,256,1,0,22.0,0.0,1,0,1,0.0,31.0,...,0.0,84.0,0,0,0,0,0,0,0,0

In [3]:
for index, row in subject_details_age.iterrows():
    age = row["AGE"]
    if (age < 13):
        subject_details_age.iloc[index]["AGE_1"] = 1
    elif (age >= 13 and age < 20):
        subject_details_age.iloc[index]["AGE_2"] = 1
    elif (age >= 20 and age < 41):
        subject_details_age.iloc[index]["AGE_3"] = 1
    elif (age >= 41 and age < 51):
        subject_details_age.iloc[index]["AGE_4"] = 1
    elif (age >= 51 and age < 66):
        subject_details_age.iloc[index]["AGE_5"] = 1
    elif (age >= 66 and age < 76):
        subject_details_age.iloc[index]["AGE_6"] = 1
    elif (age >= 76 and age < 86):
        subject_details_age.iloc[index]["AGE_7"] = 1
    elif (age >= 86):
        subject_details_age.iloc[index]["AGE_8"] = 1
    if (index%100 == 0):
        print("Rows iterated: %i" %index)
subject_details_age.head()

/share/apps/python3/3.5.3/intel/lib/python3.5/site-packages/ipykernel/__main__.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/share/apps/python3/3.5.3/intel/lib/python3.5/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/share/apps/python3/3.5.3/intel/lib/python3.5/site-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/share/apps/python3/3.5.3/intel/lib/python3.5/site-packages/ipykernel/__main__.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Rows iterated: 0

/share/apps/python3/3.5.3/intel/lib/python3.5/site-packages/ipykernel/__main__.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/share/apps/python3/3.5.3/intel/lib/python3.5/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/share/apps/python3/3.5.3/intel/lib/python3.5/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/share/apps/python3/3.5.3/intel/lib/python3.5/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Rows iterated: 100
Rows iterated: 200
Rows iterated: 300
Rows iterated: 400
Rows iterated: 500
Rows iterated: 600
Rows iterated: 700
Rows iterated: 800
Rows iterated: 900
Rows iterated: 1000
Rows iterated: 1100
Rows iterated: 1200
Rows iterated: 1300
Rows iterated: 1400
Rows iterated: 1500
Rows iterated: 1600
Rows iterated: 1700
Rows iterated: 1800
Rows iterated: 1900
Rows iterated: 2000
Rows iterated: 2100
Rows iterated: 2200
Rows iterated: 2300
Rows iterated: 2400
Rows iterated: 2500
Rows iterated: 2600
Rows iterated: 2700
Rows iterated: 2800
Rows iterated: 2900
Rows iterated: 3000
Rows iterated: 3100
Rows iterated: 3200
Rows iterated: 3300
Rows iterated: 3400
Rows iterated: 3500
Rows iterated: 3600
Rows iterated: 3700
Rows iterated: 3800
Rows iterated: 3900
Rows iterated: 4000
Rows iterated: 4100
Rows iterated: 4200
Rows iterated: 4300
Rows iterated: 4400
Rows iterated: 4500
Rows iterated: 4600
Rows iterated: 4700
Rows iterated: 4800
Rows iterated: 4900
Rows iterated: 5000
Rows iterated: 5100
Rows iterated: 5200
Rows iterated: 5300
Rows iterated: 5400
Rows iterated: 5500
Rows iterated: 5600
Rows iterated: 5700
Rows iterated: 5800
Rows iterated: 5900
Rows iterated: 6000
Rows iterated: 6100
Rows iterated: 6200
Rows iterated: 6300
Rows iterated: 6400
Rows iterated: 6500
Rows iterated: 6600
Rows iterated: 6700
Rows iterated: 6800
Rows iterated: 6900
Rows iterated: 7000
Rows iterated: 7100
Rows iterated: 7200
Rows iterated: 7300
Rows iterated: 7400
Rows iterated: 7500
Rows iterated: 7600
Rows iterated: 7700
Rows iterated: 7800
Rows iterated: 7900
Rows iterated: 8000
Rows iterated: 8100
Rows iterated: 8200
Rows iterated: 8300
Rows iterated: 8400
Rows iterated: 8500
Rows iterated: 8600
Rows iterated: 8700
Rows iterated: 8800
Rows iterated: 8900
Rows iterated: 9000
Rows iterated: 9100
Rows iterated: 9200
Rows iterated: 9300
Rows iterated: 9400
Rows iterated: 9500
Rows iterated: 9600
Rows iterated: 9700
Rows iterated: 9800
Rows iterated: 9900
Rows iterated: 10000
Rows iterated: 10100
Rows iterated: 10200
Rows iterated: 10300
Rows iterated: 10400
Rows iterated: 10500
Rows iterated: 10600
Rows iterated: 10700
Rows iterated: 10800
Rows iterated: 10900
Rows iterated: 11000
Rows iterated: 11100
Rows iterated: 11200
Rows iterated: 11300
Rows iterated: 11400
Rows iterated: 11500
Rows iterated: 11600
Rows iterated: 11700
Rows iterated: 11800
Rows iterated: 11900
Rows iterated: 12000
Rows iterated: 12100
Rows iterated: 12200
Rows iterated: 12300
Rows iterated: 12400
Rows iterated: 12500
Rows iterated: 12600
Rows iterated: 12700
Rows iterated: 12800
Rows iterated: 12900
Rows iterated: 13000
Rows iterated: 13100
Rows iterated: 13200
Rows iterated: 13300
Rows iterated: 13400
Rows iterated: 13500
Rows iterated: 13600
Rows iterated: 13700
Rows iterated: 13800
Rows iterated: 13900
Rows iterated: 14000
Rows iterated: 14100
Rows iterated: 14200
Rows iterated: 14300
Rows iterated: 14400
Rows iterated: 14500
Rows iterated: 14600
Rows iterated: 14700
Rows iterated: 14800
Rows iterated: 14900
Rows iterated: 15000
Rows iterated: 15100
Rows iterated: 15200
Rows iterated: 15300
Rows iterated: 15400
Rows iterated: 15500
Rows iterated: 15600
Rows iterated: 15700
Rows iterated: 15800
Rows iterated: 15900
Rows iterated: 16000
Rows iterated: 16100
Rows iterated: 16200
Rows iterated: 16300
Rows iterated: 16400
Rows iterated: 16500
Rows iterated: 16600
Rows iterated: 16700
Rows iterated: 16800
Rows iterated: 16900
Rows iterated: 17000
Rows iterated: 17100
Rows iterated: 17200
Rows iterated: 17300
Rows iterated: 17400
Rows iterated: 17500
Rows iterated: 17600
Rows iterated: 17700
Rows iterated: 17800
Rows iterated: 17900
Rows iterated: 18000
Rows iterated: 18100
Rows iterated: 18200
Rows iterated: 18300
Rows iterated: 18400
Rows iterated: 18500
Rows iterated: 18600
Rows iterated: 18700
Rows iterated: 18800
Rows iterated: 18900
Rows iterated: 19000
Rows iterated: 19100
Rows iterated: 19200
Rows iterated: 19300
Rows iterated: 19400
Rows iterated: 19500
Rows iterated: 19600
Rows iterated: 19700
Rows iterated: 19800
Rows iterated: 19900
Rows iterated: 20000
Rows iterated: 20100
Rows iterated: 20200
Rows iterated: 20300
Rows iterated: 20400
Rows iterated: 20500
Rows iterated: 20600
Rows iterated: 20700
Rows iterated: 20800
Rows iterated: 20900
Rows iterated: 21000
Rows iterated: 21100
Rows iterated: 21200
Rows iterated: 21300
Rows iterated: 21400
Rows iterated: 21500
Rows iterated: 21600
Rows iterated: 21700
Rows iterated: 21800
Rows iterated: 21900
Rows iterated: 22000
Rows iterated: 22100
Rows iterated: 22200
Rows iterated: 22300
Rows iterated: 22400
Rows iterated: 22500
Rows iterated: 22600
Rows iterated: 22700
Rows iterated: 22800
Rows iterated: 22900
Rows iterated: 23000
Rows iterated: 23100
Rows iterated: 23200
Rows iterated: 23300
Rows iterated: 23400
Rows iterated: 23500
Rows iterated: 23600
Rows iterated: 23700
Rows iterated: 23800
Rows iterated: 23900
Rows iterated: 24000
Rows iterated: 24100
Rows iterated: 24200
Rows iterated: 24300
Rows iterated: 24400
Rows iterated: 24500
Rows iterated: 24600
Rows iterated: 24700
Rows iterated: 24800
Rows iterated: 24900
Rows iterated: 25000
Rows iterated: 25100
Rows iterated: 25200
Rows iterated: 25300
Rows iterated: 25400
Rows iterated: 25500
Rows iterated: 25600
Rows iterated: 25700
Rows iterated: 25800
Rows iterated: 25900
Rows iterated: 26000
Rows iterated: 26100
Rows iterated: 26200
Rows iterated: 26300
Rows iterated: 26400
Rows iterated: 26500
Rows iterated: 26600
Rows iterated: 26700
Rows iterated: 26800
Rows iterated: 26900
Rows iterated: 27000
Rows iterated: 27100
Rows iterated: 27200
Rows iterated: 27300
Rows iterated: 27400
Rows iterated: 27500
Rows iterated: 27600
Rows iterated: 27700
Rows iterated: 27800
Rows iterated: 27900
Rows iterated: 28000
Rows iterated: 28100
Rows iterated: 28200
Rows iterated: 28300
Rows iterated: 28400
Rows iterated: 28500
Rows iterated: 28600
Rows iterated: 28700
Rows iterated: 28800
Rows iterated: 28900
Rows iterated: 29000
Rows iterated: 29100
Rows iterated: 29200
Rows iterated: 29300
Rows iterated: 29400
Rows iterated: 29500
Rows iterated: 29600
Rows iterated: 29700
Rows iterated: 29800
Rows iterated: 29900

,SUBJECT_ID,GENDER,EXPIRE_FLAG,TOTAL_NARCOTIC_PRESCRIPTONS,TOTAL_ANTI_NARCOTIC_PRESCRIPTONS,NARCOTIC,ANTI-NARCOTIC,ICU_STAY,OXYMORPHONE,OXYCODONE,...,SIDE_EFFECTS_FLAG,AGE,AGE_1,AGE_2,AGE_3,AGE_4,AGE_5,AGE_6,AGE_7,AGE_8
0,249,0,0,8.0,0.0,1,0,1,0.0,4.0,...,0.0,81.0,0,0,0,0,0,0,0,0
1,250,0,1,6.0,0.0,1,0,1,0.0,0.0,...,0.0,23.0,0,0,0,0,0,0,0,0
2,252,1,0,4.0,0.0,1,0,1,0.0,0.0,...,0.0,55.0,0,0,0,0,0,0,0,0
3,255,1,0,2.0,0.0,1,0,0,0.0,4.0,...,0.0,77.0,0,0,0,0,0,0,0,0
4,256,1,0,22.0,0.0,1,0,1,0.0,31.0,...,0.0,84.0,0,0,0,0,0,0,0,0

In [8]:
with open('../Data/Opioids/Model_Data/subject_details_age.pickle', 'wb') as pickler:
    pickle.dump(subject_details, pickler, protocol=pickle.HIGHEST_PROTOCOL)

In [5]:
with open('../Data/Opioids/Model_Data/subject_details_age.pickle', 'rb') as pickler:
    subject_details_age = pickle.load(pickler)
subject_details_age.head()

,SUBJECT_ID,GENDER,EXPIRE_FLAG,TOTAL_NARCOTIC_PRESCRIPTONS,TOTAL_ANTI_NARCOTIC_PRESCRIPTONS,NARCOTIC,ANTI-NARCOTIC,ICU_STAY,OXYMORPHONE,OXYCODONE,...,SIDE_EFFECTS_FLAG,AGE,AGE_1,AGE_2,AGE_3,AGE_4,AGE_5,AGE_6,AGE_7,AGE_8
0,249,0,0,8.0,0.0,1,0,1,0.0,4.0,...,0.0,81.0,0,0,0,0,0,0,0,0
1,250,0,1,6.0,0.0,1,0,1,0.0,0.0,...,0.0,23.0,0,0,0,0,0,0,0,0
2,252,1,0,4.0,0.0,1,0,1,0.0,0.0,...,0.0,55.0,0,0,0,0,0,0,0,0
3,255,1,0,2.0,0.0,1,0,0,0.0,4.0,...,0.0,77.0,0,0,0,0,0,0,0,0
4,256,1,0,22.0,0.0,1,0,1,0.0,31.0,...,0.0,84.0,0,0,0,0,0,0,0,0

In [8]:
subjects_age_grp_dict = {1:0, 2:0, 3:0, 4:0, 5:0, 6:0, 7:0, 8:0}
def age_group(row):
    age = row["AGE"]
    if (age < 13):
        row["AGE_1"] = 1
    elif (age >= 13 and age < 20):
        row["AGE_2"] = 1
    elif (age >= 20 and age < 41):
        row["AGE_3"] = 1
    elif (age >= 41 and age < 51):
        row["AGE_4"] = 1
    elif (age >= 51 and age < 66):
        row["AGE_5"] = 1
    elif (age >= 66 and age < 76):
        row["AGE_6"] = 1
    elif (age >= 76 and age < 86):
        row["AGE_7"] = 1
    elif (age >= 86):
        row["AGE_8"] = 1
    return row

In [19]:
def age_group(age):
    group = 0
    if (age < 13):
        group = 1
    elif (age >= 13 and age < 20):
        group = 2
    elif (age >= 20 and age < 41):
        group = 3
    elif (age >= 41 and age < 51):
        group = 4
    elif (age >= 51 and age < 66):
        group = 5
    elif (age >= 66 and age < 76):
        group = 6
    elif (age >= 76 and age < 86):
        group = 7
    elif (age >= 86):
        group = 8
    return group

In [14]:
subjects_age_grp_dict = {1:0, 2:0, 3:0, 4:0, 5:0, 6:0, 7:0, 8:0}
def age_group():
    for index, row in subject_details_age.iterrows():
        age = row["AGE"]
        if (age < 13):
            subject_details_age["AGE_1"][row.AGE<13] = 1
        elif (age >= 13 and age < 20):
            subject_details_age["AGE_2"][row.AGE >= 13 and row.AGE < 20] = 1
        elif (age >= 20 and age < 41):
            subject_details_age["AGE_3"][row.AGE >= 20 and row.AGE < 41] = 1
        elif (age >= 41 and age < 51):
            subject_details_age["AGE_4"][row.AGE >= 41 and row.AGE < 51] = 1
        elif (age >= 51 and age < 66):
            subject_details_age["AGE_5"][row.AGE >= 51 and row.AGE < 66] = 1
        elif (age >= 66 and age < 76):
            subject_details_age["AGE_6"][row.AGE >= 66 and row.AGE < 76] = 1
        elif (age >= 76 and age < 86):
            subject_details_age["AGE_7"][row.AGE >= 76 and row.AGE < 86] = 1
        elif (age >= 86):
            subject_details_age["AGE_8"][row.AGE >= 86] = 1
        if (index%100 == 0):
            print("Rows iterated: %i" %index)
    return subject_details_age

In [20]:
subject_details_age_new["AGE_GROUP"] = subject_details_age_new["AGE"].map(age_group)
subject_details_age_new.head()

,SUBJECT_ID,GENDER,EXPIRE_FLAG,TOTAL_NARCOTIC_PRESCRIPTONS,TOTAL_ANTI_NARCOTIC_PRESCRIPTONS,NARCOTIC,ANTI-NARCOTIC,ICU_STAY,OXYMORPHONE,OXYCODONE,...,AGE,AGE_1,AGE_2,AGE_3,AGE_4,AGE_5,AGE_6,AGE_7,AGE_8,AGE_GROUP
0,249,0,0,8.0,0.0,1,0,1,0.0,4.0,...,81.0,0,0,0,0,0,0,0,0,7
1,250,0,1,6.0,0.0,1,0,1,0.0,0.0,...,23.0,0,0,0,0,0,0,0,0,3
2,252,1,0,4.0,0.0,1,0,1,0.0,0.0,...,55.0,0,0,0,0,0,0,0,0,5
3,255,1,0,2.0,0.0,1,0,0,0.0,4.0,...,77.0,0,0,0,0,0,0,0,0,7
4,256,1,0,22.0,0.0,1,0,1,0.0,31.0,...,84.0,0,0,0,0,0,0,0,0,7

In [24]:
subject_details_age_new.drop(["AGE_1", "AGE_2","AGE_3","AGE_4","AGE_5","AGE_6","AGE_7","AGE_8"], axis=1, inplace=True)
subject_details_age_new.head()

,SUBJECT_ID,GENDER,EXPIRE_FLAG,TOTAL_NARCOTIC_PRESCRIPTONS,TOTAL_ANTI_NARCOTIC_PRESCRIPTONS,NARCOTIC,ANTI-NARCOTIC,ICU_STAY,OXYMORPHONE,OXYCODONE,...,HYDROMORPHONE,HYDROCODONE,FENTANYL,CODEINE,BUPRENORPHINE,METHADONE,NALOXONE,SIDE_EFFECTS_FLAG,AGE,AGE_GROUP
0,249,0,0,8.0,0.0,1,0,1,0.0,4.0,...,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,81.0,7
1,250,0,1,6.0,0.0,1,0,1,0.0,0.0,...,0.0,0.0,15.0,0.0,0.0,0.0,0.0,0.0,23.0,3
2,252,1,0,4.0,0.0,1,0,1,0.0,0.0,...,0.0,0.0,14.0,0.0,0.0,0.0,0.0,0.0,55.0,5
3,255,1,0,2.0,0.0,1,0,0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,77.0,7
4,256,1,0,22.0,0.0,1,0,1,0.0,31.0,...,5.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,84.0,7

In [25]:
with open('../Data/Opioids/Model_Data/subject_details_age.pickle', 'wb') as pickler:
    pickle.dump(subject_details_age_new, pickler, protocol=pickle.HIGHEST_PROTOCOL)

In [ ]:
Gender:
    Female 0
    Male 1
ICU STAY:
    NAN - No stay - 0
    If atleast one value - Stay - 1
EXPIRE_FLAG:
    Expired - 1
    Alive - 0
AGE:
    GRP 1: < 13
    GRP 2: 13 - 19
    GRP 3: 20 - 40
    GRP 4: 41 - 50
    GRP 5: 51 - 65
    GRP 6: 66 - 75
    GRP 7: 76 - 86
    GRP 8: >= 86